@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.products {
  margin-top: 100px;

  a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .products-title {
    position: relative;
    margin-bottom: 10px;
  }
  .products-subtitle {
    margin-bottom: 20px;
    span {
      display: inline-block;
      color: var(--text-black);
    }
  }
}

// dekstop
@include respond-min(1024px) {
  .products {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .products-subtitle {
      width: 64%;
      font-size: 68px;
      letter-spacing: -4.76px;
    }

    &__wrapper-text {
      display: flex;
      gap: 250px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      width: auto;
      min-height: 455px;

      &:last-child:nth-child(odd) {
        grid-column: auto;
        justify-self: start;
      }
    }
  }
}
