@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.products {
  margin-top: 100px;

  a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .products-subtitle--descktop {
    display: none;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .products-title {
    position: relative;
    margin-bottom: 10px;
  }

  .products-subtitle {
    margin-bottom: 20px;
    color: var(--text-light-gray);
    .products-subtitle--mobile {
      display: inline-block;
      span {
        color: var(--text-black);
      }
    }
  }
}

@include respond-min(767px 1024px, between) {
  .products-subtitle--mobile {
    color: var(--text-black);
  }
}

@include respond-min(1024px) {
  .products {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .products-subtitle {
      color: var(--text-black);
      .products-subtitle--mobile {
        display: none;
      }
      span {
        display: inline;
      }
    }

    &__wrapper-text {
      display: grid;
      grid-template-columns: 0.4fr 1fr;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      width: auto;
      min-height: 455px;
    }
  }
}
