@use '../variables' as vars;
@use '../mixins' as m;

.feedback-menu {
  position: relative;
  z-index: 2;
  min-height: 51.25rem;
  background-image: url("@img/background/bg-feedback.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -0.75rem;
  
  &__wrapper {
    padding: 0 0.75rem;
  }
  
  &__button {
    position: relative;
    background-color: vars.$bg-black;
    height: 3.25rem;
    width: 100%;
    margin: 0 auto;
    @include m.typography(vars.$color-white, 700 , 1.125rem, 120%);
    @include m.item-decor(vars.$color-white);
  }
  
  &__title {
    @include m.typography(vars.$color-black, 500, 1.938rem, 100%);
    margin-bottom: 18px;
    text-align: center;
  }
}


