@use '../variables' as vars;
@use '../mixins' as m;

.feedback-menu {
  position: relative;
  z-index: 2;
  min-height: 51.25rem;
  background-image: url("@img/background/bg-feedback.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -0.75rem;
  
  &__wrapper {
    padding: 0 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .feedback-menu__button-container {
    position: relative;
    @include m.item-decor(vars.$color-white);
  }
  
  &__button {
    display: inline-flex;
    align-items: center;
    background-color: vars.$bg-black;
    padding: 15px 50px;
    @include m.typography(vars.$color-white, 700 , 1.125rem, 120%);
    gap: 10px;
    
    &::after {
      @include m.decoration(vars.$color-white, 15px, "@img/arrow-black.svg");
      content: '';
      position: static;
      transform: rotate(360deg);
    }
  }
  
  &__title {
    @include m.typography(vars.$color-black, 500, m.fluid(31px, 68px), 100%);
    min-width: 340px;
    margin-bottom: 18px;
    text-align: center;
  }
}

@include m.respond-min(1024px) {
  .feedback-menu {
    background-image: url("@img/background/bg-1920.png");
    margin-bottom: -30px;
    background-size: 100% 100%;
    
    &__title {
        max-width: 633px;
    }
    
    &__button {
      padding: 20px 100px;
    }
  }
}

