@use '../variables' as vars;
@use '../mixins' as m;

.footer {
  display: grid;
  background-color: vars.$bg-black;
  min-height: 49.688rem;
  color: white;
  padding-top: 2.625rem;
  @include m.line-decor(6px 56% calc(100% - 12px));
  
  .footer__container {
	display: grid;
	grid-template-columns: minmax(20rem, 43.75rem) 1fr;
	grid-template:
          'logo arrow'
  'pages .'
  'about .'
  'contact .'
  'description .';
  }
  
  .footer__pages {
	padding: 0.625rem;
	grid-area: pages;
	position: relative;
  }
  
  .footer-decoration {
	@include m.decoration(vars.$color-white, 0.75rem, '@img/decoration.svg',  (bottom: 0, right: 0));
  }
  
  .footer__about {
	grid-area: about;
	position: relative;
	padding: 0.625rem;
	@include m.typography();
	
	.social-link {
	  margin-top: 1.25rem;
	  position: relative;
	  display: flex;
	  a {
		&::before {
		  content: '';
		  @include m.decoration(vars.$color-white, 16px, '@img/arrow-black.svg',  (top: 3px, right: 0));
		  margin-right: 150px;
		}
		align-items: center;
	  }
	}
  }
  
  .footer__copyright {
	display: grid;
	grid-area: description;
	@include m.typography(vars.$color-grey);
	
	.footer__copyright-text {
	  span {
		display: block;
	  }
	}
	
	a {
	  text-decoration: underline;
	  text-decoration-skip-ink: none;
	}
  }
  
  .arrow-button {
	grid-area: arrow;
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	padding-top: 1.625rem;
	@include m.typography(vars.$color-white, 500, 18px, 1.2);
	
	
	&::before {
	  content: '';
	  margin-top: 1.625rem;
	  @include m.decoration(vars.$color-white, 20px, "@img/arrow-black.svg");
	  transform: rotate(-90deg);
	}
  }
  
  
  
  .footer__logo {
	grid-area: logo;
	@include m.typography(vars.$color-white, 700, 7.5rem, 120%);
	font-family: vars.$third-family;
  }
  
  .footer__title {
	display: block;
	@include m.typography(vars.$color-grey);
	&::before {
	  content: '';
	  @include m.decoration(#919191, 0.75rem, '@img/decoration.svg',  (top: 0, left: 0));
	}
	padding-bottom: 0.75rem;
  }
  
  .footer__list {
	display: grid;
	gap: 2px;
	li {
	  @include m.typography();
	}
  }
}

