@use '../variables' as vars;
@use '../mixins' as m;

.footer {
  display: grid;
  background-color: vars.$bg-black;
  min-height: 49.688rem;
  color: white;
//   padding-left: 0.625rem;
  padding-top: 2.625rem;
  @include m.line-decor(6px 56% calc(100% - 12px));
  
  .footer__container {
	display: grid;
	grid-template-columns: minmax(20rem, 43.75rem) 1fr;
	grid-template:
          'logo arrow'
  'pages .'
  'about .'
  'contact .'
  'description .';
  }
  
  .footer__pages {
	padding: 0.625rem;
	grid-area: pages;
	position: relative;
  }
  
  .footer-decoration {
	@include m.decoration("@img/decoration.svg");
  }
  
  .footer__about {
	grid-area: about;
	position: relative;
	padding: 0.625rem;
	@include m.typography();
	
	.social-link {
	  margin-top: 1.25rem;
	  a {
		display: flex;
		align-items: center;
		
		@include m.arrow-icon(vars.$color-white);
	  }
	}
  }
  
  .footer__copyright {
	display: grid;
	grid-area: description;
	@include m.typography(vars.$color-grey);
	
	.footer__copyright-text {
	  span {
		display: block;
	  }
	}
	
	a {
	  text-decoration: underline;
	  text-decoration-skip-ink: none;
	}
  }
  
  .arrow-container {
	grid-area: arrow;
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	padding-top: 1.625rem;
  }
  
  .arrow {
	width: 1rem;
	height: 1.25rem;
	background: url("@img/arrow-black.svg") no-repeat center/contain;
	filter: brightness(0) invert(1);
	transform: rotate(270deg);
  }
  
  .footer__logo {
	grid-area: logo;
	@include m.typography(vars.$color-white, 700, 7.5rem, 120%);
	font-family: vars.$third-family;
  }
  
  .footer__title {
	display: block;
	@include m.typography(vars.$color-grey);
	padding-bottom: 0.75rem;
  }
  
  .footer__list {
	display: grid;
	gap: 2px;
	
	li {
	  @include m.typography();
	}
  }
}

