@use '../variables' as vars;
@use '../mixins' as m;
// bottom: -32px; border-bottom: 33px; width: 1026px; border-left/border-right: 63px;
// ($width: 21px, $height: 13px, $color: #000, $position: top, $size: 198px)

.hero {
    &.with-bottom-trapezoid {
    @include m.trapezoid-decor(21px, 12px, black, bottom);
  }
  position: relative;
  background-color: vars.$bg-black;
  margin-bottom: -1px;
}

.hero__container {
    @include m.line-decor(1% 50% 99%);
    position: relative;
    padding-block: 1.25rem 1.313rem;
    flex-direction: column;
    z-index: 0;
}

.hero__title::after {
    z-index: 2;
}

.heading {
    @include m.typography(vars.$color-white, 400, m.fluid(70px, 243px), 81%);
    order: 3;
    text-align: center;
    letter-spacing: -7px;
    font-family: vars.$second-family;
    letter-spacing: -7px;
}

.hero__title {
    @include m.bracket-decor();
    @include m.typography(vars.$color-light-grey, 700, m.fluid(14px, 22px), 120%);
    letter-spacing: -0.053em;

}

.hero__subtitle {
    @include m.typography(vars.$color-white, 500, m.fluid(31px, 68px), 100%);
    margin-bottom: 2.5rem;
    letter-spacing: -2.17px;
    text-align: center;
}

.hero__content {
    order: 2;
    margin-bottom: 9.375rem;
    gap: 4.3rem;
}

.hero__prev {
    @include m.typography(vars.$color-light-grey, 500, m.fluid(14px, 22px), 110%, none);
    font-family: vars.$second-family;
    letter-spacing: -0.84px;
}


@include m.respond-min(1024px) {
   .hero {
     &.with-bottom-trapezoid {
     @include m.trapezoid-decor(63px, 33px, black, bottom, 1026px, -32px);
     }
     &__container {
        @include m.line-decor(0.5% 25% 50% 75% 99.5%);
     }
  } 
}

