@use '../variables' as vars;
@use '../mixins' as m;

.hero {
    &.with-bottom-trapezoid {
    @include m.trapezoid-decor(21px, 12px, black, bottom);
  }
  position: relative;
  background-color: vars.$bg-black;
  margin-bottom: -1px;
}

.hero__container {
    @include m.line-decor(2% 50% 98%);
    position: relative;
    padding-block: 1.25rem 1.313rem;
    flex-direction: column;
    z-index: 0;
}

.hero__title::after {
    z-index: 2;
}

.heading {
    @include m.typography(vars.$color-white, 400, 4.375rem, 81%);
    order: 3;
    text-align: center;
    letter-spacing: -7px;
    font-family: vars.$second-family;
    letter-spacing: -7px;
}

.hero__title {
    @include m.bracket-decor();
    @include m.typography(vars.$color-light-grey, 700, 0.875rem, 120%);
    letter-spacing: -0.053em;

}

.hero__subtitle {
    @include m.typography(vars.$color-white, 500, 1.938rem, 100%);
    margin-bottom: 2.5rem;
    letter-spacing: -2.17px;
    text-align: center;
}

.hero__content {
    order: 2;
    margin-bottom: 9.375rem;
    gap: 4.3rem;
}

.hero__prev {
    @include m.typography(vars.$color-light-grey, 500, 0.875rem, 110%, none);
    font-family: vars.$second-family;
    letter-spacing: -0.84px;
}


