@use '../variables' as vars;
@use '../mixins' as m;

.hero {
    position: relative;
    background-color: vars.$bg-black;
}

.hero__container {
    position: relative;
    padding-block: 1.25rem 1.313rem;
    flex-direction: column;
    @include m.line-decor(2% 50% 98%);
    z-index: 0;
}

.hero__subtitle::after {
    z-index: 2;
}

.heading {
    order: 3;
    text-align: center;
    letter-spacing: -7px;
    font-family: vars.$second-family;
    @include m.typography(vars.$color-white, 400, 4.375rem, 81%)
}

.hero__title {
    margin-bottom: 2.5rem;
    letter-spacing: -2.17px;
    text-align: center;
    @include m.typography(vars.$color-white, 500, 1.938rem, 100%);
}


.hero__subtitle {
    position: relative;
    margin-left: 0.625rem;
    letter-spacing: -0.84px;
    @include m.bracket-decor();
    @include m.typography(vars.$color-light-grey, 700, 0.875rem, 120%)
}


.hero__content {
    margin-bottom: 9.375rem;
    gap: 4.3rem;
}

.hero__prev {
    @include m.typography(vars.$color-light-grey, 500, 0.875rem, 110%, none);
    font-family: vars.$second-family;
    letter-spacing: -0.84px;
}


