@use '../variables' as vars;
@use '../mixins' as m;

.advertising {
  position: relative;
  background-color: black;
  min-height: 322px;
  display: flex;
  align-items: center;

  &.with-top-trapezoid {
    @include m.trapezoid-decor(21px, 12px, black, top);
  }

  &.with-bottom-trapezoid {
    @include m.trapezoid-decor(21px, 12px, black, bottom);
  }
  .advertising__title {
    position: relative;
    margin-bottom: 10px;
    @include m.bracket-decor(#d0d0d0, (top: -2px, left: 0));
  }
  
  .advertising__subtitle {
    @include m.typography(vars.$color-white, 500, 31px, 100%);
    margin-bottom: 20px;
    span {
      color: #171717;
    }
  }
  .swiper-slide {
    min-height: 96px;
    background: url("@img/infinity-slider-company.png") no-repeat center #171717;
    @include m.item-decor(vars.$color-white);
    .advertising__decoration {
      @include m.decoration(vars.$color-black, 1.5rem, '@img/kvadrat.png', (top: 0, right: 0));
    }
  }
}
