@use '../variables' as vars;
@use '../mixins' as m;


.advertising {
  background-color: black;
  min-height: 322px;
  display: flex;
  align-items: center;
  .advertising__title {
    position: relative;
    margin-bottom: 10px;
    @include m.typography(vars.$color-light-grey, 700, 14px, 120%);
    @include m.bracket-decor();
  }
  
  .advertising__subtitle {
    @include m.typography(vars.$color-white, 500, 31px, 100%);
    margin-bottom: 20px;
    span {
      color: #171717;
    }
  }
  .swiper-slide {
    min-height: 96px;
    background: url("@img/infinity-slider-company.png") no-repeat center #171717;
    
    .advertising__decoration {
      @include m.decoration('@img/kvadrat.svg', 1.5rem, (top: 0, right: 0), vars.$color-black, mask);
    }
    
      &::after {
        content: '';
        @include m.decoration('@img/decoration.svg', 0.75rem, (top: 0, left: 0), vars.$color-white, svg);
        margin: 3px;
        width: 10px;
        height: 10px;
      }
      
      &::before {
        content: '';
        @include m.decoration('@img/decoration.svg', 0.75rem, (bottom: 0, right: 0), vars.$color-white, svg);
        margin: 3px;
        transform: rotate(180deg);
        width: 10px;
        height: 10px;
      }
  }
}
