@use '../variables' as vars;
@use '../mixins' as m;

.products {
  margin-top: 100px;
  
  &__list {
	display: grid;
	grid-template-columns: repeat(2, 170px);
	counter-reset: section;
  }
  
  .products-title {
	position: relative;
	margin-bottom: 10px;
	@include m.bracket-decor(#4d4d4d, (top: -1px, left: 0));
  }
  .products-subtitle {
	@include m.typography(vars.$color-black, 500, 31px, 100%);
	margin-bottom: 20px;
	span {
	  color: vars.$color-light-grey;
	}
  }
  
  &__item {
	padding: 10px;
	border: 1px solid vars.$color-light-grey;
	display: flex;
	width: 170px;
	flex-direction: column;
	position: relative;
	align-items: flex-start;
    @include m.item-decor();
	
	.products__title {
	  position: relative;
	  &::before {
		@include m.typography(vars.$color-grey, 500, 0.625rem, 40%);
		counter-increment: section;
		content: "["counter(section)"]";
		position: absolute;
		top: 0;
		right: -0.875rem;
		letter-spacing: -0.05em;
	  }
	  h5 {
		@include m.typography(vars.$color-black, 500, 18px, 115%);
	  }
	}
	
	&:last-child {
	  justify-self: center;
    grid-column: 1 / -1;
	}
  }
  
  .products__img {
	display: flex;
	justify-content: center;
	min-height: 110px;
	margin: 15px 30px 14px 30px;
	img {
	  max-height: 100%;
	  width: auto;
	  height: auto;
	  object-fit: contain;
	}
  }
}

// deckstop
@include m.respond-min(1024px) {
  .products {
		&__container {
			display: flex;
			flex-direction: column;
			gap: 40px;
		}
		.products-subtitle {
			width: 64%;
			font-size: 68px;
			letter-spacing: -4.76px;
		}
		&__wrapper-text {
			display: flex;
			gap: 250px;
		}
		&__list {
			grid-template-columns: repeat(4,1fr);
		}
		&__item {
			width: 455px;
			min-height: 455px;
			&:last-child {
				justify-self: unset;
			}
		}
  }
}