@use '../mixins' as m;
@use '../variables' as vars;

.questions {
  &__container {
	margin-top: 6.875rem;
	margin-bottom: 6.25rem;
	display: grid;
	grid-template-columns: 1fr;
	padding: 0.625rem;
	@include m.typography(vars.$color-black, 500, 1.125rem, 115%);
  }
  
  &__title {
	position: relative;
	padding-left: 0.625rem;
	margin-bottom: 0.625rem;
	@include m.bracket-decor(vars.$color-black, (top: -2px, left: 0));
	@include m.typography(vars.$color-dark-grey, 700, 0.875rem, 120%);
  }
  
  .card-wrapper {
	display: grid;
	gap: 0.5rem;
  }
  
  &__card {
	position: relative;
	background-color: vars.$bg-middl-grey;
	min-height: 7.938rem;
	padding: 0.625rem;
	transition: all .22s ease;
	color: vars.$color-dark-grey;
	overflow: visible;
	
	&:hover {
	  background-color: vars.$bg-black;
	  color: white;
	  
	  .questions__card-decorative {
		opacity: 1;
		visibility: visible;
	  }
	}
	
	&:not(.questions__card--active):hover::before {
	  transform: rotate(180deg);
	}
	
	&::before {
	  content: '';
	  @include m.decoration('@img/arrow-black.svg', 1.563rem, (bottom: 0, right: 0), #565656, mask);
	  margin: 0.625rem;
	  background-color: currentColor;
	  transition: transform .22s ease;
	}
	
	&-title {
	  @include m.typography(vars.$color-dark-grey, 500, 1.375rem, 115%);
	}
	
	&-subtitle {
	  font-family: vars.$second-family;
	  @include m.typography(vars.$color-dark-grey, 500, 0.875rem, 110%);
	}
	
	&-decorative {
	  @include m.decoration('@img/kvadrat.svg', 1.5rem, (top: 0, right: 0), #565656, svg);
	  opacity: 0;
	  visibility: hidden;
	  pointer-events: none;
	  transition: opacity .22s ease, visibility .22s ease;
	}
	
	&--active {
	  border: 1px solid vars.$color-grey;
	  display: flex;
	  flex-direction: column;
	  background-color: vars.$bg-white;
	  justify-content: center;
	  gap: 0.375rem;
	  border-bottom-right-radius: 2px;
	  border-top-left-radius: 2px;
	  
	  .questions__card-arrow--active {
		@include m.decoration('@img/arrow-black.svg', 1.563rem, (bottom: 0, right: 0), #565656, mask);
		margin: 0.625rem;
		bottom: 0;
		right: 0;
		background-color: currentColor;
		transition: transform .22s ease;
		transform: none;
	  }
	  
	  &:hover .questions__card-arrow--active {
		transform: rotate(180deg);
	  }
	  
	  
	  &::before {
		content: "";
		@include m.decoration('@img/decoration.svg', 1.563rem, (top: -1px, left: -1px), #565656, mask);
		margin: 0;
		transform: none;
		background-color: currentColor;
	  }
	  
	  &::after {
		content: "";
		@include m.decoration('@img/decoration.svg', 1.563rem, (bottom: -1px, right: -1px), #565656, mask);
		background-color: currentColor;
		transform: rotate(180deg);
	  }
	}
	
	.questions__content {
	  position: relative;
	  margin-bottom: 4.688rem;
	  
	  &::after {
		content: '';
		@include m.decoration('@img/decoration.svg', 0.75rem, (top: -6px, left: -7px), #565656, mask);
	  }
	}
  }
}
.questions__card:hover .questions__content::after {
  background-color: white;
}



