@use '../mixins' as m;
@use '../variables' as vars;

.questions {
  &__container {
	margin-top: 6.875rem;
	margin-bottom: 6.25rem;
	display: grid;
	grid-template-columns: 1fr;
	padding: 0.625rem;
  }
  
  &__title {
	position: relative;
	margin-bottom: 0.625rem;
	@include m.bracket-decor(vars.$color-dark-grey, (top: -2px, left: 0));
  }
  
  .card-wrapper {
	display: grid;
	gap: 0.5rem;
  }
  
  &__card {
	position: relative;
	min-height: 130px;
	padding: 0.625rem;
	background-color: vars.$bg-middl-grey;
	color: vars.$color-black;
	transition: background-color .2s ease, color .2s ease, transform .2s ease, opacity 0s ease;
	
	&:hover {
	  background-color: vars.$bg-black;
	  color: white;
	  
	  .questions__card-decorative {
		opacity: 1;
		visibility: visible;
	  }
	}
	
	&:not(.questions__card--active):hover::before {
	  transform: rotate(180deg);
	}
	
	&::before {
	  content: '';
	  @include m.decoration(#565656, 1.563rem, '@img/arrow-black.svg', (bottom: 0, right: 0));
	  margin: 10px;
	  background-color: currentColor;
	  transition: transform .22s ease;
	}
	
	&-decorative {
	  @include m.decoration(vars.$color-white, m.fluid(24px, 40px), '@img/kvadrat.png', (top: 0, right: -1px));
	  opacity: 0;
	  visibility: hidden;
	  pointer-events: none;
	  transition: opacity .22s ease, visibility .22s ease;
	}
	
	&--active {
	  border: 1px solid vars.$color-grey;
	  background-color: vars.$bg-white;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: left;
	  gap: 0.375rem;
	  border-bottom-right-radius: 2px;
	  border-top-left-radius: 2px;
	  cursor: pointer;
	  
	  .questions__card-title {
		@include m.typography(vars.$color-black, 500, m.fluid(18px, 42px), 1);
		color: inherit;
	  }
	  
	  .questions__card-subtitle {
		font-family: vars.$second-family;
		@include m.typography(vars.$color-black, 500, m.fluid(14px, 22px), 1.10, none);
		font-size: m.fluid(14px, 22px);
		color: inherit;
	  }
	  
	  .questions__card-arrow--active {
		@include m.decoration(#565656, 1.563rem, '@img/arrow-black.svg', (bottom: 0, right: 0));
		margin: 0.625rem;
		bottom: 0;
		right: 0;
		background-color: currentColor;
		transition: transform .22s ease;
		transform: none;
	  }
	  
	  &:hover .questions__card-arrow--active {
		background-color: white;
		transform: rotate(180deg);
	  }
	  
	  &::before {
		content: "";
        @include m.decoration(#565656, m.fluid(36px, 60px), '@img/decoration-card.svg', (top: -1px, left: -1px));
		margin: 0;
		background-color: currentColor;
		transform: rotate(180deg);
	  }
	  &::after {
		content: "";
		@include m.decoration(#565656, m.fluid(36px, 60px), '@img/decoration-card.svg', (bottom: -1px, right: -1px));
		background-color: currentColor;
	  }
	}
	
	.questions__content {
	  position: relative;
	  @include m.typography(vars.$color-black, 500, m.fluid(18px, 28px), 1.15);
	  color: inherit;
	  transition: color .2s ease;
	  
	  &::after {
		content: '';
		@include m.decoration(#565656, m.fluid(12px, 20px), '@img/decoration.svg', (top: -6px, left: -7px));
	  }
	}
  }
  
  .questions__card:hover .questions__content::after {
	background-color: white;
  }
  
  @include m.respond-min(1024px) {
	&__card {
	  min-height: m.fluid(240px, 400px);
	  max-width: m.fluid(240px, 400px);
	  
	  &-decorative {
		bottom: 0;
		left: 0;
		top: inherit;
		transform: rotate(180deg);
	  }
	}
	
	.card-wrapper {
	  grid-template-columns: repeat(5, minmax(240px, 400px));
	  grid-template-areas:
        'a . b c .'
        'd e f g .'
        '. h . q .';
	}
	
	.card--a { grid-area: a; }
	.card--b { grid-area: b; }
	.card--c { grid-area: c; }
	.card--d { grid-area: d; }
	.card--e { grid-area: e; }
	.card--f { grid-area: f; }
	.card--g { grid-area: g; }
	.card--h { grid-area: h; }
	.questions__card--active { grid-area: q; }
  }
  
  @include m.respond-min(1250px) {
	.card-wrapper {
	  grid-template-areas:
        'a . b c .'
        'd e f . g'
        '. h . q .';
	}
  }
}
