@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.result-title--wraper {
  position: relative;
}

.chunk-title {
  background-color: var(--bg-black);
}

.wrapper-cubak {
  position: absolute;
  width: fluid(69px, 293px);
  height: fluid(49px, 193px);
  left: 50%;
  top: 0;
  transform: translateX(-53%);
  z-index: -1;
}

.wrapper-heading--top {
  display: flex;
  justify-content: center;
  .leftSvg {
    width: fluid(68px, 277px);
    height: fluid(48px, 193px);
  }
  .rightSvg {
    width: fluid(78px, 321px);
    height: fluid(48px, 193px);
  }
}

.wrapper-heading--bottom {
  display: flex;
  justify-content: center;
  svg {
    width: fluid(337px, 1393px);
    height: fluid(60px, 244px);
  }
}
