@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.project-menu-item__service {
  color: var(--text-light-gray);
  @include typography(var(--text-light-gray), 500, fluid(18px, 28px), 1.15);
}

@include respond-min(1300px) {
  .project-menu-item__service {
    display: flex;
    gap: 8px;
    min-height: 40px;
    border-bottom: 1px solid var(--vector-light-gray);
    cursor: pointer;

    &:is(.hovered, .project-menu--active) {
      background-color: var(--bg-black);
      color: var(--text-white);

      h5 {
        color: var(--text-white);
      }
    }

    .project-menu-item__service-label {
      font-family: var(--second-family);
      @include typography(var(--text-deep-black), 500, 14px, 1.1, none);
      padding-left: 5px;
    }

    h5 {
      color: var(--text-light-gray);
      padding-left: 5px;
    }
  }
}
