@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

// Мобильная версия
.project-menu-item__service {
  color: var(--text-light-gray);
  @include typography(var(--text-light-gray), 500, fluid(18px, 28px), 1.15);
}

// Desktop версия
@include respond-min(1300px) {
  .project-menu-item__service {
    display: block;
    min-height: 40px;
    border-bottom: 1px solid var(--vector-light-gray);
    cursor: pointer;
    padding: 10px 5px;
    transition:
      background-color 0.3s,
      color 0.3s;

    // Hover и активное состояние
    &:is(.hovered, .project-menu--active) {
      background-color: var(--bg-black);

      color: var(--text-white);

      h5 {
        color: var(--text-white);
      }
    }

    &:is(.project-menu--active) {
      padding-bottom: 69px;
    }

    h5 {
      color: var(--text-light-gray);
      padding-left: 0;
    }

    .project-menu-item__service-label {
      display: none;
    }
  }
}
