.custom-select {
  position: relative;
  width: 76px;
  
  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    background-color: transparent;
    color: var(--header-text);
    cursor: pointer;
    transition: all 0.3s ease; 
  }

  &__value {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #fff; 
  }

  &__value--modal {
    color: var(--text-black);
  }

  &__option--modal {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    opacity: 0.7;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }

  .btn-icon--active {
    transition: transform .1s ease-in-out;
    transform: rotate(180deg) rotateY(180deg);
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 5px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  &__option {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: var(--text-deep-gray);
    transition: color .2s ease-in-out;
    
    &:hover {
      color: var(--text-light-gray)
    }
  }

  &__native {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
  }
}