@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.heroService {
  background-color: var(--bg-black);
  padding-top: 120px;
  padding-bottom: fluid(40px, 80px);

  &__container {
    max-width: 100%;
  }

  &__decoration {
    @include decor-pseudo-elements($height: 4%);
  }

  &__decoration-1 {
    @include decor-pseudo-elements(
      $color: var(--text-black),
      $height: 4%,
      $after-top: auto,
      $after-bottom: -2px,
      $after-transform: scaleX(1),
      $before-top: auto,
      $before-bottom: -1px,
      $before-transform: scaleX(-1)
    );
  }

  &__title {
    width: 100%;
    max-width: 80%;
    margin-top: fluid(40px, 60px, 360px, 768px);

    h1 {
      @include typography(var(--text-white), 500, fluid(31px, 58px), 1, uppercase, -2.17px);

      @include respond-min(768px) {
        font-size: fluid(58px, 68px);
      }
    }
  }

  &__img {
    position: relative;
    width: 100%;
    padding-bottom: 0;
    margin-top: fluid(10px, 20px);
    overflow: hidden;

    aspect-ratio: 4 / 3;
    img {
      will-change: auto;
    }

    @include respond-min(1024px) {
      aspect-ratio: 16 / 9;
    }
  }
}
