@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.heroService {
  background-color: var(--bg-black);
  padding-top: 120px;
}

.heroService__title {
  width: 40%;
  margin-top: fluid(80px, 100px, 360px, 768px);
}

.heroService__img {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: fluid(10px, 20px);
  @include respond-min(768px, max) {
    aspect-ratio: 4 / 3;
  }
}
