@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.heroService {
  background-color: var(--bg-black);
  padding-top: 120px;
}
.heroService__decoration {
  @include decor-pseudo-elements($height: 4%);
}
.heroService__decoration-1 {
  @include decor-pseudo-elements(
    $color: var(--text-black),
    $height: 4%,
    $after-top: auto,
    $after-bottom: -2px,
    $after-transform: scaleX(1),
    $before-top: auto,
    $before-bottom: -1px,
    $before-transform: scaleX(-1)
  );
}
.heroService__title {
  width: 80%;
  margin-top: fluid(80px, 100px, 360px, 768px);
  h1 {
    @include typography(var(--text-white), 500, fluid(31px, 58px), 1, uppercase, -2.17px);

    @include respond-min(768px) {
      font-size: fluid(58px, 68px);
    }
  }
}

.heroService__img {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: fluid(10px, 20px);
  @include respond-min(768px, max) {
    aspect-ratio: 4 / 3;
  }
}
