@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.heroService {
  background-color: var(--bg-black);
  padding-top: 120px;

  &__container {
    max-width: 100%;
    margin-top: fluid(80px, 100px, 360px, 768px);
    @include respond-min(1024px) {
      margin-top: fluid(100px, 120px);
    }
  }

  &__title {
    width: 100%;
    max-width: 80%;
    margin-top: fluid(40px, 60px, 360px, 768px);

    h1 {
      @include typography(var(--text-white), 500, fluid(31px, 58px), 1, uppercase, -2.17px);

      @include respond-min(768px) {
        font-size: fluid(58px, 68px);
      }
    }
  }

  &__img {
    position: relative;
    width: 100%;
    padding-bottom: 0;
    margin-top: fluid(10px, 20px);
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      @include respond-min(1024px) {
        object-fit: none;
      }
    }

    aspect-ratio: 4 / 3;
    @include respond-min(1024px) {
      aspect-ratio: 16 / 9;
    }
  }
}
