@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.heroService {
  background-color: var(--bg-black);
  position: relative;
  z-index: -1;

  &__container {
    @include line-decor(2% 50% 98%);
    @include respond-min(768px) {
      @include line-decor(1% 50% 99%);
    }
    @include respond-min(1380px) {
      @include line-decor(1% 25.4% 50% 74.6% 99%);
    }

    padding-top: fluid(59px, 120px);
    padding-bottom: fluid(40px, 80px);
    max-width: 100%;
  }

  &__decoration {
    @include decor-pseudo-elements($height: 4%);
  }

  &__decoration-1 {
    @include decor-pseudo-elements(
      $color: var(--text-black),
      $height: 4%,
      $after-top: auto,
      $after-bottom: -2px,
      $after-transform: scaleX(1),
      $before-top: auto,
      $before-bottom: -1px,
      $before-transform: scaleX(-1)
    );
  }

  &__title {
    width: 100%;
    max-width: 80%;
    margin-top: fluid(80px, 100px, 360px, 768px);

    h1 {
      @include typography(var(--text-white), 500, fluid(31px, 58px), 1, uppercase, -2.17px);

      @include respond-min(768px) {
        font-size: fluid(58px, 68px);
      }
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 0;
    margin-top: fluid(10px, 20px);
    overflow: hidden;

    @include respond-min(768px) {
      // aspect-ratio: 4 / 3;
    }

    @include respond-min(1024px) {
      // aspect-ratio: 16 / 9;
    }
  }
}
