// src/shared/ui/Modal/serviceModal/ServiceModal.scss
@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.service-modal-content {
  @include line-decor(1.2% 25.5% 50% 74.5% 98.8%, var(--vector-light-gray));
		position: relative;
		min-height: 337px;
  	    z-index: 0;
  padding: 20px;
}

.service-button {
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: var(--bg-black);
    color: var(--text-white);
  }

  .item__title:hover {
    color: var(--text-white);
  }
}