// src/shared/ui/Modal/serviceModal/ServiceModal.scss
@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.wrapper-modal {
  @include line-decor(0.5% 25.4% 50% 74.6% 99%, var(--vector-light-gray));
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  min-height: 337px;
  z-index: 0;
  .nav-modal--items {
    gap: 60px;
  }
  .service-image {
  position: relative;
  width: 100%;
  height: 173px;
  max-width: 200px
  }

}
