@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.service-slider {
  overflow: hidden;

  &__swiper {
    padding: 0.5rem;
    margin: 0 -0.5rem;
  }

  .service-slider__swiper .swiper-slide {
    display: flex;
    height: auto;
    max-width: 156px;
    flex-shrink: 0;
  }

  .wrapper-image {
    @include clip-shape();
  }

  .slider {
    &__article-title {
      @include typography(var(--heading-h5-color), 500, fluid(18px, 28px), 1.15);
      margin-bottom: 10px;
    }

    &__wrapper {
      padding-top: 18px;
      flex-direction: column;
    }

    &__image {
      width: 156px;
      height: 156px;
      margin-bottom: 8px;
    }
  }

  &__btn {
    margin-top: auto;
    align-items: center;
    gap: 8px;
    @include typography(var(--text-white), 700, fluid(16px, 26px));
    svg {
      display: inline-flex;
      width: 12px;
      height: 15px;
    }
  }
}

@include respond-min(768px) {
  .service-slider {
    .slider__article-title {
      font-size: 28px;
    }

    .service-slider__swiper .swiper-slide {
      max-width: 247px;
    }

    .slider {
      &__image {
        width: 247px;
        height: 247px;
      }

      &__caption {
        font-size: 22px;
      }
    }

    &__btn {
      gap: 10px;
      span {
        font-size: 26px;
      }
    }
  }
}

@include respond-min(1024px) {
  .service-slider {
    .swiper-wrapper {
      gap: 15px;
    }
    .service-slider__swiper .swiper-slide {
      max-width: 247px;
      min-width: 0;
      margin-right: 0 !important;
    }
  }
}
