@use '@/shared/styles/_mixins.scss' as *;
@use '@/shared/styles/_functions.scss' as *;

.questions__card-decorative {
  @include decoration(
    var(--text-white),
    fluid(20px, 28px),
    '/img/kvadrat.svg',
    (
      top: 0,
      right: -1px,
    )
  );
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.22s ease,
    visibility 0.22s ease;
}

.questions__card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: fluid(180px, 400px);
    padding: 0.625rem;

    background-color: var(--bg-light-gray);
    color: var(--text-black);

    transition:
      background-color 0.2s ease,
      color 0.2s ease;

      
    &:hover {
      background-color: var(--bg-black);
      color: white;

      .questions__card-decorative {
        opacity: 1;
        visibility: visible;
      }

      .questions__content::after {
        background-color: white;
      }

      .questions__card-arrow {
        transform: rotate(180deg);
      }
    }
}

.questions__card-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  transition: transform 0.22s ease;
}

.questions__content {
  position: relative;
  color: inherit;
  transition: color 0.2s ease;
  line-height: 1.15;

  &::after {
    content: '';
    background-color: #565656;
    @include decoration(
      var(--text-black),
      fluid(14px, 20px),
      '/img/decoration.svg',
      (
        top: -6px,
        left: -7px,
      )
    );
  }
}

.questions__description {
  font-family: var(--second-family);
  margin-top: 6px;
  color: var(--text-light-gray);
  @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none);
}

