@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.consultation-modal {
  width: 100%;
  height: 100vh;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  padding-bottom: 94px;
  margin: 0 auto;
  overflow-y: auto;
  @include decor-pseudo-elements(
    $color: var(--text-black),
    $after-top: auto,
    $after-bottom: -2px,
    $after-transform: scaleX(1),
    $before-top: auto,
    $before-bottom: -1px,
    $before-transform: scaleX(-1)
  );

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--vector-white);
    z-index: 10;
  }

  .wrapper_bg {
    height: 278px;
  }

  .responsive-img {
    display: block;
    height: 100%;
  }

  .consult-form {
    max-width: 887px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-inline: 10px;

    &__input--error::placeholder {
      @include typography(#ff4444, 500, 14px, 1.1);
    }

    &__field {
      position: relative;
    }

    &__title {
      @include typography(#030608, 500, 31px, 1, uppercase, -2.17px);
      text-align: center;
      margin-bottom: 30px;
    }

    &__input,
    &__textarea {
      @include clip-shape();
      @include typography(var(--text-gray), 500, 14px, 1.1);
      padding: 10px;
      width: 100%;
      height: 41px;
      background-color: var(--bg-light-gray);
    }

    &__field:last-child {
      height: 83px;
    }

    &__textarea {
      height: 83px;
      background-color: var(--bg-light-gray);
      resize: none;
    }

    &__checkbox-label {
      position: relative;
    }

    &__checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }

    .check-style {
      position: absolute;
      width: 16px;
      height: 16px;
      transform: translateY(-100%);
      top: 16px;
      left: 0;
      border: 1px solid var(--vector-almost-black);
      cursor: pointer;
    }

    &__checkbox:checked + .check-style {
      border: 1px solid var(--vector-almost-black);
      background-color: var(--bg-black);
      background-image: url('/img/checked-form.svg');
      background-position: center;
      background-size: 8px 6px;
      background-repeat: no-repeat;
    }

    .check-style:focus-visible {
      outline-offset: 2px;
      outline: 1 solid rgb(129, 148, 225);
    }

    &__checkbox-field {
      margin-top: 20px;
    }

    &__checkbox-text {
      @include typography(var(--text-light-gray), 500, 14px, 1.1, none);
      width: fluid(340px, 416px);
      font-family: var(--second-family);
      padding-left: 24px;
    }

    &__link {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #565656;
    }

    &__checkbox-label:has(:checked) &__link {
      color: var(--text-black);
    }

    &__submit {
      display: inline-flex;
      padding-inline: 50px;
      justify-content: center;
      width: 340px;
      margin-top: 10px;
    }

    &__submit:disabled {
      background-color: #565656;
    }
  }
}

.wrapper-data {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@include respond-min(768px) {
  .consultation-modal {
    gap: 60px;
    &__close {
      top: 20px;
      right: 20px;
    }

    &__close svg {
      width: 38px;
      height: 38px;
    }

    .wrapper_bg {
      height: 458px;
    }

    .responsive-img {
      display: block;
      height: 100%;
    }

    .consult-form {
      &__title {
        font-size: 58px;
        margin-bottom: 60px;
      }

      &__input,
      &__textarea {
        height: 54px;
      }

      &__error {
        font-size: 14px;
        margin-top: 6px;
      }

      &__textarea,
      &__field:last-child {
        height: 102px;
      }

      .check-style {
        top: 26px;
        left: -26px;
        width: 21px;
        height: 21px;
      }

      &__checkbox:checked + .check-style {
        background-size: 9px 12px;
      }

      &__checkbox-field {
        margin-top: 40px;
      }

      &__checkbox-text {
        padding-left: 5px;
      }

      &__submit {
        width: 416px;
        padding: 20px 87px;
      }
    }
  }

  .wrapper-data {
    width: 71%;
    max-width: 530px;
    gap: 10px;
  }
}

@include respond-min(1280px) {
  .consultation-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    &__close svg {
      color: var(--vector-deep-gray);
    }

    .responsive-img {
      display: block;
      height: 100vh;
    }

    .consult-form {
      grid-column: 2/-1;
      margin: 0;
      align-self: center;
      justify-self: center;
      &__title {
        font-size: fluid(58px, 68px);
      }
    }
  }
}
