@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.consultation-modal {
	width: 100%;
	height: clamp(820px, 100vh, 100vh);
	padding-bottom: 94px;
	margin: 0 auto;
	&::after, &::before {
	  position: absolute;
	  content: '';
	  background-image: url('/img/modal-form-decor.svg');
	  background-size: 100%;
	  background-repeat: no-repeat;
	  bottom: 0;
	  width: fluid(102px, 502px);
	  height: fluid(12px, 32px);
	}
	&::after {
	  left: 0;
	}
	&::before {
	  right: 0;
	  transform: scaleX(-1);
	}
}

.consultation-modal__close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	right: 10px;
	color: var(--vector-white);
	z-index: 10;
}

.wrapper_bg {
	width: 100%;
	height: 278px;
	margin-bottom: 40px;
	.responsive-img {
		// height: 278px;
	}
}

.consult-form {
	max-width: 887px;
	padding-inline: 10px;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	align-items: center;
	// position: relative;
	margin: 0 auto;

	&__title {
		@include typography(#030608, 500, 31px, 1, uppercase, -2.17px);
		text-align: center;
		margin-bottom: 30px;
	}

	&__input,
	&__textarea {
		@include clip-shape();
		@include typography(var(--text-gray), 500, 14px, 1.1);
		padding: 10px;
		width: 100%;
		min-height: fluid(41px, 54px);
		background-color: var(--bg-light-gray);
	}

	&__textarea {
		min-height: fluid(83px, 102px);
		background-color: var(--bg-light-gray);
		resize: none;
	}

	&__checkbox-label {
		position: relative;
	}

	&__checkbox {
	  position: absolute;
  	  width: 1px;
  	  height: 1px;
  	  overflow: hidden;
  	  clip: rect(0 0 0 0);
	}

	.check-style {
      position: absolute;
      width: 16px;
      height: 16px;
      transform: translateY(-100%);
	  top: 16px;
      left: 0;
      border: 1px solid var(--vector-almost-black);
      cursor: pointer;
	}

	&__checkbox:checked + .check-style {
	  border: 1px solid var(--vector-almost-black);
  	  background-color: var(--bg-black);
	  background-image: url('/img/checked-form.svg');
  	  background-position: center;
	  background-size: 8px 6px;
  	  background-repeat: no-repeat;
	}

	.check-style:focus-visible {
  	  outline-offset: 2px;
  	  outline: 1 solid rgb(129, 148, 225);
	}

	&__checkbox-field {
		margin-top: 20px;
	}

	&__checkbox-text {
		@include typography(var(--text-light-gray), 500, 14px, 1.1, none);
		width: fluid(340px, 416px);
		font-family: var(--second-family);
		padding-left: 24px;
	}

	&__link {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #565656;
	}

	&__checkbox-label:has(:checked) &__link {
		color: var(--text-black);
	}

	&__submit {
		display: inline-flex;
		padding-inline: fluid(50px, 87px);
		justify-content: center;
		width: fluid(340px, 416px);
		margin-top: 10px;
	}

	&__submit:disabled {
		background-color: #565656;
	}
}

.wrapper-data {
	width: fluid(340px, 530px);
	display: flex;
	flex-direction: column;
	gap: 4px;
}

// tablet
// // @include respond-min(768) {
// // 	.consultation-modal {
// // 		width: 768px;
// // 		background-image: url('/img/modal-form-768.png');
// // 	}
// }
