@use '../../styles/functions' as *;
@use '../../styles/mixins' as *;

body:has(.modal) {
  .menu {
    color: var(--text-black);
  }
}

.primary {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  @include typography(var(--text-black), 700, fluid(16px, 26px), 1.2);
  transition:
    border-color 0.2s ease,
    color 0.2s ease;

  svg {
    align-self: center;
    flex-shrink: 0;
    width: fluid(12px, 16px);
    height: fluid(15px, 20px);
  }

  &:hover {
    color: var(--text-gray);
    border-color: var(--vector-deep-gray);
  }
}

.secondary {
  font-family: var(--second-family);
  @include typography(var(--text-black), 500, fluid(20px, 28px), 1.15, none);
  text-align: center;
  background-color: var(--bg-light-gray);
  padding: 10px 34px;
  width: 100%;
  border: 1px solid var(--vector-light-gray);
  &:hover,
  &:focus {
    background-color: var(--bg-black);
    color: var(--text-white);
  }
}

.feedback {
  display: inline-flex;
  align-items: center;
  background-color: var(--bg-black);
  padding: fluid(15px, 20px) fluid(50px, 100px);
  gap: 10px;
  @include typography(var(--text-white), 700, fluid(18px, 26px), 1.2);

  @include item-decor(var(--text-white));

  svg {
    width: fluid(12px, 16px);
    height: fluid(15px, 20px);
  }

  &:hover {
    background: var(--bg-deep-gray);
  }
}

.link {
  @include typography(
    var(--text-white),
    500,
    fluid(18px, 20px),
    1.2,
    uppercase,
    fluid(-0.8px, -0.96px)
  );
}

.social {
  display: flex;
  gap: 8px;
  @include typography(var(--text-white), 500, fluid(18px, 20px), 1.2);

  svg {
    align-self: center;
    width: 12px;
    height: 15px;
  }
}

.policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  @include typography(
    var(--text-gray),
    500,
    fluid(18px, 20px),
    1.2,
    uppercase,
    fluid(-0.8px, -0.96px)
  );
}

.upButton {
  @include typography(
    var(--text-white),
    500,
    fluid(18px, 20px),
    1.2,
    uppercase,
    fluid(-0.8px, -0.96px)
  );
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 8px;

  svg {
    width: 16px;
    height: 20px;
    transform: rotate(-90deg);
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 4px;
  @include typography(var(--text-white), 500, 20px, 1.2, uppercase, -0.05em);
}

.one {
  @include typography(var(--text-gray), 500, 42px, 1, uppercase, -0.07em);
  padding: 10px;
  &:hover {
    color: var(--text-white);
    background-color: var(--text-black);
  }
}

.two {
  display: inline-flex;
  align-items: center;
  padding: 5px 4px;
  position: relative;
  @include typography(var(--text-light-gray), 500, 28px, 1.15);
  transition:
    color 0.3s,
    background-color 0.3s;

  &:hover {
    color: var(--text-white);
    background-color: var(--text-black);

    svg {
      opacity: 1;
      transform: translateY(-50%) translateX(0);
    }
  }

  svg {
    position: absolute;
    width: 16px;
    height: 20px;
    color: var(--text-black);
    right: -35px;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%) translateX(-10px);
    transition:
      opacity 0.3s,
      transform 0.3s;
  }
}

.active {
  color: var(--text-white);
  background-color: var(--text-black);

  svg {
    transform: rotate(180deg);
  }
}

.description {
  display: inline-flex;
  @include typography(var(--text-white), 700, fluid(18px, 26px), 1.2);
  @include item-decor(var(--vector-almost-black));
  padding: fluid(15px, 20px) fluid(50px, 130px);
  gap: 10px;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: var(--bg-white);
  color: var(--text-black);
  svg {
    width: fluid(12px, 16px);
    height: fluid(15px, 20px);
    color: var(--text-black);
  }
}

@include respond-min(1300px) {
  .primary {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--text-black);
  }

  .secondary {
    line-height: 1.15;
  }

  .rotate {
    transform: rotate(90deg);
  }
}
