@use '@/shared/styles/_mixins.scss' as *;
@use '@/shared/styles/_functions.scss' as *;

.questions__card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 127px;
  @include clip-shape();

  @include respond-min(768px) {
    min-height: 400px;
  }
  &.questions__card--active {
    clip-path: none;
  }

  padding: fluid(10px, 20px);

  background-color: var(--bg-light-gray);
  color: var(--text-black);

  &--active {
    justify-content: center;
    align-items: flex-start;
    gap: 0.375rem;
    padding: 0.625rem;

    background-color: var(--bg-white);
    border: 1px solid var(--text-gray);
    border-radius: 2px 0 2px 0;
    cursor: pointer;

    &::before {
      content: '';
      @include decoration(
        var(--text-black),
        fluid(22px, 42px),
        '/img/decoration-card.svg',
        (
          top: -1px,
          left: -1px,
        )
      );
      transform: rotate(180deg);
      background-color: currentColor;
    }

    &::after {
      content: '';
      @include decoration(
        var(--text-black),
        fluid(22px, 42px),
        '/img/decoration-card.svg',
        (
          bottom: -1px,
          right: -1px,
        )
      );
      background-color: currentColor;
    }

    &:hover,
    &:focus,
    &:focus:not(:focus-visible),
    &:focus-visible {
      background-color: var(--bg-black);
      color: var(--text-white);

      &::after,
      &::before {
        transition: margin 0.2s ease-in-out;
        margin: 6px;
      }

      .questions__card-title,
      .questions__card-subtitle {
        color: var(--text-white);
      }

      .questions__card-arrow--active {
        color: var(--text-white);
        margin: 16px;
        transform: rotate(180deg);
      }
    }
  }

  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover,
  &:focus-visible {
    background-color: var(--bg-black);
    color: var(--text-white);

    .questions__content {
      color: var(--text-white);
    }

    &::after {
      background-color: var(--text-white);
    }

    .questions__card-arrow {
      transform: rotate(180deg);
    }
  }
}

.questions__card-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  transition: transform 0.22s ease;
}

.questions__content {
  position: relative;
  @include typography(var(--text-black), 500, fluid(18px, 28px, 360px, 768px), 1.15);
  transition: color 0.2s ease;
  line-height: 1.15;
}

.questions__description {
  font-family: var(--second-family);
  margin-top: fluid(6px, 20px);
  @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none);
}

.questions__list {
  list-style: disc;
  margin-left: 20px;
  margin-top: 20px;
}

@include respond-min(1024px) {
  .questions__card {
    @include clip-shape(bottom-left);
  }
}

.text-underline {
  font-weight: 500;
  text-decoration: underline;
}
