@use '@/shared/styles/_mixins.scss' as *;
@use '@/shared/styles/_functions.scss' as *;

.questions__card-decorative {
  @include decoration(
    var(--text-white),
    fluid(20px, 28px),
    '/img/kvadrat.svg',
    (
      top: 0,
      right: -1px,
    )
  );
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.22s ease,
    visibility 0.22s ease;
}

.questions__card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: fluid(180px, 400px);

  padding: fluid(10px, 20px);

  background-color: var(--bg-light-gray);
  color: var(--text-black);

  &:not(.questions__card--active)::after {
    content: '';
    margin: 5px;
    background-color: var(--vector-deep-gray);
    @include decoration(
      var(--text-black),
      fluid(14px, 20px),
      '/img/decoration.svg',
      (
        top: 0,
        left: 0,
      )
    );
  }

  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover {
    background-color: var(--bg-black);
    color: var(--text-white);

    .questions__card-decorative {
      opacity: 1;
      visibility: visible;
    }

    &::after {
      background-color: var(--text-white);
    }

    .questions__card-arrow {
      transform: rotate(180deg);
    }
  }
}

.questions__card-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  transition: transform 0.22s ease;
}

.questions__content {
  position: relative;
  color: inherit;
  transition: color 0.2s ease;
  line-height: 1.15;
}

.questions__description {
  font-family: var(--second-family);
  margin-top: fluid(6px, 20px);
  @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none);
}

.questions__list {
  list-style: disc;
  margin-left: 20px;
  margin-top: 20px;
}
