@use '@/shared/styles/_mixins.scss' as *;
@use '@/shared/styles/_functions.scss' as *;

.questions__card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: fluid(180px, 400px);
  @include clip-shape();
  &.questions__card--active {
    clip-path: none;
  }

  padding: fluid(10px, 20px);

  background-color: var(--bg-light-gray);
  color: var(--text-black);

  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover,
  &:focus,
  &:focus:not(:focus-visible),
  &:focus-visible {
    background-color: var(--bg-black);
    color: var(--text-white);

    &::after {
      background-color: var(--text-white);
    }

    .questions__card-arrow {
      transform: rotate(180deg);
    }
  }
}

.questions__card-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  transition: transform 0.22s ease;
}

.questions__content {
  position: relative;
  color: inherit;
  transition: color 0.2s ease;
  line-height: 1.15;
}

.questions__description {
  font-family: var(--second-family);
  margin-top: fluid(6px, 20px);
  @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none);
}

.questions__list {
  list-style: disc;
  margin-left: 20px;
  margin-top: 20px;
}

@include respond-min(1024px) {
  .questions__card {
    @include clip-shape(bottom-left);
  }
}
