@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.feedback-menu {
  position: relative;
  background-color: var(--bg-black);
  z-index: 2;
  min-height: 51.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -0.75rem;

  & > .container {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    background-image: url('/img/bg-feedback-360.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrapper {
    padding: 0 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: var(--text-black);
    min-width: 340px;
    margin-bottom: 18px;
    text-align: center;
  }
}

@include respond-min(1024px) {
  .feedback-menu {
    .container {
      background-image: url('/img/feebback-bg.webp');
    }
    &__title {
      width: 60%;
    }
  }
}
