@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.consultationService__title {
  margin-left: 10px;
  position: relative;
}

.consultationService__container {
  padding-block: 100px;
  position: relative;
}

.consultationService__subtitle {
  @include typography(var(--text-black), 500, fluid(31px, 68px), 1, uppercase, -0.07em);
  span {
    display: block;
    color: var(--text-light-gray);
  }
}

.consultationService__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  .consultationService__item {
    @include typography(var(--text-black), 500, fluid(18px, 28px), 1.15);
    @include item-decor();
    padding: 15px;
    min-height: 70px;
    text-align: center;
    color: var(--text-black);
    background-color: var(--bg-light-gray);
    @include clip-shape();
  }
}

.consultationService__decoration-container {
  position: relative;
  min-height: 108px;
  pointer-events: none;
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}

.consultationService__decoration-container > div {
  position: absolute;
  width: 96px;
  height: 96px;
  overflow: hidden;
  z-index: 1;
}

.consultationService__decorationFour {
  display: none;
}

.consultationService__decorationOne {
  left: 0;
}

.consultationService__decorationTwo {
  right: 50%;
  transform: translate(50%);
}

.consultationService__decorationThree {
  right: 0;
}

.consultationService__lines {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  .line {
    position: absolute;
    background-color: var(--vector-light-gray);

    &--vertical {
      left: 50%;
      top: 0;
      width: 1px;
      height: 100%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &--horizontal {
      height: 1px;
      width: 50%;
      top: 25%;
      transform: translateY(-50%);
      z-index: -1;
    }

    &--left {
      left: 0;
      z-index: -1;
    }

    &--right {
      right: 0;
      z-index: -1;
    }
    &--bottom {
      top: 65%;
      left: 10%;
      width: 80%;
    }
  }

  /* === MOBILE === */
  @include respond-min(767px, max) {
    .line--vertical {
      left: 50%;
      width: 1px;
      height: 100%;
    }

    .line--horizontal {
      width: 90%;
      top: 33%;
      left: 5%;
    }

    .line--right {
      display: none;
    }
    .line--bottom {
      display: none;
    }
  }

  /* === TABLET === */
  @include respond-min(768px) {
    .line--horizontal {
      top: 48%;
      width: 88%;
      left: 2%;
    }
    .line--right {
      top: 72%;
      left: 2%;
      width: 88%;
    }
  }

  /* === DESKTOP === */
  @include respond-min(1024px) {
    .line--horizontal {
      width: 75%;
      left: 12%;
      top: 43%;
    }
    .line--right {
      top: 59%;
      left: 12%;
      width: 75%;
    }

    .line--bottom {
      top: 73%;
      left: 12%;
      width: 75%;
    }
  }
}

@include respond-min(767px) {
  .consultationService__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 10px;

    align-items: center;
    justify-items: stretch;
  }

  .consultationService__item {
    padding: 18px;
    min-height: 88px;
    text-align: center;
    position: relative;

    &:nth-child(1) {
      grid-column: 1;
      width: 90%;
    }

    &:nth-child(2) {
      grid-column: 2;
      width: 90%;
      justify-self: end;
    }

    &:nth-child(3) {
      grid-column: 1 / 3;
      justify-self: center;
      width: 40%;
      &::after,
      &::before {
        background-color: var(--text-white);
      }
      background-color: var(--text-black);
      color: var(--text-white);
    }

    &:nth-child(4) {
      grid-column: 1;
      width: 90%;
    }

    &:nth-child(5) {
      grid-column: 2;
      width: 90%;
      justify-self: end;
    }

    &:nth-child(6) {
      grid-column: 1 / 3;
      width: 40%;
      justify-self: center;
    }
  }

  .consultationService__decoration-container > div {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
  }

  .consultationService__decorationOne {
    left: 0;
    top: 165%;
    transform: translate(0, 75%);
  }

  .consultationService__decorationTwo {
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }

  .consultationService__decorationThree {
    top: 165%;
    right: 0;
    transform: translate(0, 75%);
  }
}

@include respond-min(1024px) {
  .consultationService__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 90px 162px;
    align-items: center;
    justify-items: center;
    position: relative;
  }

  .consultationService_title-container {
    display: grid;
    grid-template-columns: 0.3fr 0.5fr;
  }

  // 1 строка — карточки по бокам
  .consultationService__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    width: 90%;
  }

  // 2 строка — центральная карточка
  .consultationService__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    width: 90%;
  }

  .consultationService__item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    width: 90%;
  }

  // 3 строка — карточки по бокам
  .consultationService__item:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
    width: 90%;
  }

  .consultationService__item:nth-child(5) {
    grid-column: 3;
    grid-row: 3;
    width: 90%;
  }

  // 4 строка — карточка по центру
  .consultationService__item:nth-child(6) {
    grid-column: 2;
    grid-row: 4;
    width: 90%;
  }

  /* --- Декорации (изображения) --- */
  .consultationService__decoration-container > div {
    position: absolute;
    width: 120px;
    height: 120px;
    pointer-events: none;
  }

  .consultationService__decorationOne {
    top: 50%;
    left: 13%;
    transform: translate(-50%, 220%);
  }

  .consultationService__decorationTwo {
    top: 100%;
    left: 50%;
    transform: translate(-50%);
  }

  .consultationService__decorationThree {
    top: 50%;
    right: 6%;
    transform: translate(-50%, 220%);
  }

  .consultationService__decorationFour {
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 420%);
  }
}
