// src/shared/ui/Modal/serviceModal/ServiceModal.scss
@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.modal-mobil__wrapper {
  position: relative;
  z-index: 0;

  .modal-mobil--items {
    display: flex;
    gap: 60px;
  }

  .service-image {
    position: relative;
    width: 100%;
    height: 173px;
    max-width: 200px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
}

.modal-mobil__list--title .modal-mobil__btn--selected {
  background-color: var(--text-black);
  color: var(--text-white);
  transition: all 0.2s ease-in-out;
}

.modal-mobil__list--items .modal-mobil__link--selected {
  background-color: var(--text-black);
  color: var(--text-white);
  transition: all 0.2s ease-in-out;
}

.modal-mobil__btn-list {
  @include typography(var(--header-text), 500, 18px, 1.15);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 2px;
  color: var(--text-deep-gray);
  border-bottom: 1px solid var(--vector-light-gray);
  svg {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }

  &.modal-mobil__btn--selected svg {
    transform: rotate(90deg) rotateY(180deg);
  }
}

.modal-mobil__list--items {
  display: flex;
  @include typography(var(--header-text), 500, 14px);
  font-family: var(--font-family);
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.modal-mobil--items {
  padding-top: 5px;
}

.modal-mobil-link-items {
  @include typography(var(--text-gray), 500, 14px);
  display: inline-block;
  width: 100%;
  font-family: var(--font-family);
  padding: 2px 1px;
}

body:has(.wrapper-modal) .modal-mobil__link.hovered::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -5px;
  bottom: -4px;
  right: -5px;
  background-color: var(--text-black);
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
}
