@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.result {
  &__item:first-child {
    min-height: 220px;
    background-color: var(--bg-deep-gray);
    .item__inner:first-child {
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
    }
    .item__number {
      @include typography(var(--text-white), 700, fluid(120px, 178px), 0.82, uppercase, -8.4px);
    }
  }

  .item__prev {
    @include typography(var(--text-deep-gray), 500, fluid(14px, 22px), 1.1, none, -0.84px);
    font-family: var(--second-family);
    width: 93%;
  }

  &__item {
    @include clip-shape();
    .item__title {
      @include typography(var(--text-black), 600, fluid(22px, 42px), 1, uppercase, -1.32px);
    }

    &:not(:has(.item__number)):nth-of-type(2) {
      .item__title {
        width: 80%;
      }
    }

    &:first-child {
      .item__title {
        color: var(--text-white);
      }
    }

    position: relative;
    background-color: var(--text-white);
    padding: 15px;
  }

  .item {
    &__inner {
      display: flex;
      @include item-decor(
        var(--vector-black),
        $before-position: (top: -13px, left: -12px),
        $after-position: (bottom: -13px, right: -12px)
      );
      width: 100%;
      min-height: 100px;
      position: relative;
      flex-direction: column;
      gap: 8px;
      &:not(:has(.item__prev)) {
        flex-direction: row;
        align-items: flex-end;
        gap: 0.938rem;
      }
    }

    &__number {
      @include typography(var(--text-black), 700, fluid(120px, 178px), 0.82, uppercase, -8.4px);
    }
  }

  &__item--fill {
    position: relative;
    flex-direction: column;
    background-color: var(--bg-deep-gray);
    gap: 2.063rem;
    padding: 0.938rem;
    &::before {
      content: '';
      @include decoration(
        var(--vector-white),
        fluid(38px, 64px),
        '/img/decoration-card.svg',
        (
          top: 0,
          left: 0,
        )
      );
      transform: rotate(180deg);
    }
    &::after {
      content: '';
      @include decoration(
        var(--vector-white),
        fluid(38px, 64px),
        '/img/decoration-card.svg',
        (
          bottom: 0,
          right: 0,
        )
      );
    }
    .item__prev {
      width: 80%;
      margin-top: auto;
      color: var(--text-light-gray);
    }
  }
}

@include respond-min(1280px) {
  .result__item {
    &--fill {
      .item__inner {
        &::after,
        &::before {
          display: none;
        }
      }
    }
  }
}
