@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.object-levels {
  position: relative;
  z-index: 0;
  &__container {
    display: flex;
    @include line-decor(2% 50% 98%, var(--vector-light-gray));
    position: relative;
    z-index: 0;

    flex-direction: column;
    gap: 1.25rem;
    padding-block: 6.25rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  &__title {
    letter-spacing: -0.053em;
  }

  &__subtitle {
    span {
      color: var(--text-black);
    }
    letter-spacing: -0.136rem;
  }

  &__list {
    display: flex;
    counter-reset: card;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    position: relative;
    min-height: 6.25rem;
    background-color: var(--bg-light-gray);
    padding: 0.625rem 0.625rem 0.625rem 1.313rem;
    @include item-decor();
  }
  .item {
    &__inner {
      display: flex;
      height: 100%;
      position: relative;
      flex-direction: column;
      gap: 6px;
      background-size: 56px 50px;
      background-repeat: no-repeat;
      background-position: top right;
    }
  }

  .item-layout--1 .item__inner {
    background-image: url(/img/objLevels/zavod.webp);
  }

  .item-layout--2 .item__inner {
    background-image: url(/img/objLevels/gos-obj.webp);
  }

  .item-layout--3 .item__inner {
    background-image: url(/img/objLevels/soc-obj.webp);
  }

  .item-layout--4 .item__inner {
    background-image: url(/img/objLevels/stroteg-obj.webp);
  }

  .item-layout--5 .item__inner {
    background-image: url(/img/objLevels/home-obj.webp);
  }

  .item-layout--6 .item__inner {
    background-image: url(/img/objLevels/admin-obj.webp);
  }

  .item {
    &__title {
      @include typography(var(--text-black), 600, fluid(22px, 42px), 1);
      letter-spacing: -0.083rem;
      width: 70%;
      &::before {
        @include typography(var(--text-gray), 500, fluid(10px, 22px), 0.4);
        counter-increment: card;
        content: '[' counter(card) ']';
        position: absolute;
        top: 0;
        left: -13px;
        letter-spacing: -0.031rem;
      }
    }

    &__prev {
      @include typography(var(--text-deep-gray), 500, fluid(14px, 22px), 1.1, none);
      font-family: var(--second-family);
      letter-spacing: -0.053rem;
      max-width: 70%;
    }
  }
}

// tablet
@include respond-min(768px) {
  .object-levels {
    &__container {
      @include line-decor(1% 50% 99%, var(--vector-light-gray));
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    &__item {
      @include clip-shape();
      display: flex;
      align-items: flex-end;
      padding: 15px 17px 39px 25px;
      min-height: 342px;
    }
    .item {
      &__inner {
        padding-top: 45%;
        background-size: 122px 109px;
        background-position: top left;
      }

      &__title {
        &::before {
          top: 135px;
          left: -15px;
          // letter-spacing: -0.031rem;
        }
        width: 100%;
        font-size: 36px;
      }

      &__prev {
        font-size: 22px;
      }
    }
  }
}

// deckstop
@include respond-min(1520px) {
  .object-levels {
    &__container {
      @include line-decor(1% 25.4% 50% 74.6% 99%, var(--vector-light-gray));
    }
    &__inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &__title {
      letter-spacing: -1.32px;
    }
    &__subtitle {
      grid-column: 2/4;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      gap: 11px;
    }
    &__item {
      min-height: 342px;
      padding: 20px 30px 12px;
    }
    .item {
      &__inner {
        display: flex;
        @include item-decor(
          var(--vector-deep-gray),
          20px,
          $before-position: (top: -14px, left: -25px),
          $after-position: (bottom: -5px, right: -25px)
        );
        min-height: 312px;
        justify-content: flex-end;
        background-size: 136px 132px;
        background-position: top left;
      }
      &__title {
        position: relative;
        width: unset;
        letter-spacing: -2.52px;
        &::before {
          top: 0;
          left: -25px;
          letter-spacing: -1.1px;
        }
      }
    }
    .item-layout--1 {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .item-layout--2 {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .item-layout--3 {
      grid-column: 3/4;
      grid-row: 2/3;
    }
    .item-layout--4 {
      grid-column: 4/5;
      grid-row: 2/3;
    }
    .item-layout--5 {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .item-layout--6 {
      grid-column: 4/5;
      grid-row: 3/4;
    }
  }
}
