@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.seeAlso {
  padding-bottom: fluid(100px, 152px, 360px, 768px);
  @include respond-min(1024px) {
    padding-bottom: fluid(152px, 190px);
  }
}

.seeAlso__title {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
}

.seeAlso__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(170px, 455px));
}

.seeAlso__subtitle {
  display: none;
}

.seeAlso__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: fluid(10px, 20px);
  border: 1px solid var(--text-light-gray);
  background-color: var(--bg-light-gray);
  @include item-decor();
  min-height: 191px;
  min-width: 170px;

  @include respond-min(768px) {
    min-height: 364px;
    min-width: 364px;
  }

  @include respond-min(1024px) {
    min-height: 455px;
    min-width: 455px;
  }

  &:hover {
    transition: background-color 0.2s;
    background-color: var(--bg-white);
  }

  h4 {
    align-self: flex-start;
    @include typography(var(--text-black), 500, fluid(18px, 28px, 360px, 768px), 1.15);
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  img {
    object-fit: cover;
    mix-blend-mode: darken;
    max-width: 347px;
    max-height: 250px;
    margin: auto 0;
  }
}

@include respond-min(1024px) {
  .seeAlso__container {
    display: grid;
    grid-template-areas:
      'title subtitle'
      'list list';
    grid-template-columns: 0.4fr 1fr;
    gap: 40px;
  }

  .seeAlso__title {
    grid-area: title;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .seeAlso__subtitle {
    display: block;
    grid-area: subtitle;
    @include typography(var(--text-black), 500, 68px, 1, uppercase, -0.07em);
  }

  .seeAlso__list {
    grid-area: list;
    display: flex;
    flex-wrap: wrap;
  }

  .seeAlso__item {
    flex: 1 1 calc((100% - 80px) / 4);
    width: auto;
    min-width: 200px;
    max-width: 455px;
    max-height: 455px;

    a {
      display: contents;
    }
  }
}
