@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.ourAchievements {
  &__container {
    padding-block: fluid(80px, 150px, 360px, 768px);

    @include respond-min(1024px) {
      padding-block: fluid(152px, 190px);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: fluid(15px, 20px, 360px, 768px);
  }

  &__mainTitle {
    background-color: var(--bg-black);
    margin-bottom: fluid(10px, 20px, 360px, 768px);

    @include respond-min(1024px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    h2 {
      @include clip-shape();
      padding: 12px;
      @include typography(var(--text-white), 600, fluid(22px, 36px, 360px, 768px), 1);
      text-transform: uppercase;

      @include respond-min(768px) {
        font-size: fluid(36px, 42px);
      }

      @include respond-min(1024px) {
        grid-column: 3 / 5;
        padding: 15px 0;
        margin-bottom: 0;
      }
    }
  }

  &__innerWrapper {
    border-bottom: 1px solid var(--vector-deep-gray);
    padding-bottom: fluid(15px, 20px, 360px, 768px);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    position: relative;

    &.last-in-group {
      margin-bottom: 40px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @include respond-min(1024px) {
      border-bottom: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      &.last-in-group {
        margin-bottom: 60px;
        padding-bottom: 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      align-items: start;
      grid-template-areas:
        '. city  title arrow'
        '. . desc  .'
        '. gallery gallery gallery';
    }

    &::after {
      content: '';
      display: none;

      @include respond-min(1024px) {
        display: block;
        padding-bottom: 20px;
        grid-column: 2 / 5;
        grid-row: 4;
        border-bottom: 1px solid var(--vector-deep-gray);
        width: 100%;
      }
    }
  }

  &__city {
    grid-area: city;
    display: flex;
    margin-top: fluid(10px, 15px, 360px, 768px);
    @include typography(var(--text-gray), 500, fluid(18px, 28px, 360px, 768px), 1.15);
    text-transform: uppercase;
    order: 4;

    @include respond-min(1024px) {
      margin-top: 0;
      order: unset;
    }
  }

  &__subtitle {
    grid-area: title;
    width: 90%;
    @include typography(var(--text-black), 600, fluid(18px, 28px, 360px, 768px), 1.15);
    text-transform: uppercase;
    order: 1;

    @include respond-min(1024px) {
      width: 100%;
      padding-bottom: 15px;
    }
  }

  &__arrow-wrapper {
    grid-area: arrow;
    position: absolute;
    top: 0;
    right: 0;

    @include respond-min(1024px) {
      position: static;
      justify-self: end;
      padding-top: 5px;
    }

    svg {
      flex-shrink: 0;
      transform: rotate(-90deg);
      transition: transform 0.3s ease-in-out;
    }

    .ourAchievements__arrow--active {
      transition: transform 0.2s ease-in-out;
      transform: rotate(90deg);
    }
  }

  &__description {
    grid-area: desc;
    padding-block: fluid(13px, 15px, 360px, 768px);
    @include typography(var(--text-black), 500, fluid(14px, 22px, 360px, 768px), 1.1, none);
    font-family: var(--second-family);
    animation: fadeIn 0.3s ease-in;
    order: 2;

    @include respond-min(1024px) {
      max-width: 90%;
      padding: 0;
      padding-bottom: 15px;
    }

    span {
      white-space: pre-line;
      display: block;
      color: var(--text-gray);
    }
  }

  &__gallery {
    grid-area: gallery;
    width: 100%;
    animation: fadeIn 0.4s ease-in;
    order: 3;
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    gap: 10px;

    @include respond-min(1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      justify-items: stretch;
    }
  }

  .embla__slide {
    display: flex;
    align-items: flex-start;
    flex: 0 0 auto;
    max-width: 100%;

    @include respond-min(1024px) {
      width: 100%;

      &:only-child {
        grid-column: 2 / 3;
        justify-self: start;
        .ourAchievements__image-wrapper img {
          object-position: left;
        }
      }

      &:nth-child(1):not(:only-child) {
        justify-self: start;
        .ourAchievements__image-wrapper img {
          object-position: left;
        }
      }
      &:nth-child(2) {
        justify-self: center;
        .ourAchievements__image-wrapper img {
          object-position: center;
        }
      }
      &:nth-child(3) {
        justify-self: end;
        .ourAchievements__image-wrapper {
          margin-left: auto;
        }
        .ourAchievements__image-wrapper img {
          object-position: right;
        }
      }
    }
  }

  &__image-wrapper {
    height: 200px;
    width: 100%;
    overflow: hidden;

    @include respond-min(768px) {
      height: 300px;
    }

    @include respond-min(1024px) {
      height: 240px;
      max-width: 100%;
      width: auto;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      @include clip-shape();
      @include respond-min(1024px) {
        object-position: left;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
