@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.ourAchievements {
  &__container {
    padding-bottom: 100px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: fluid(15px, 20px, 360px, 768px);
  }

  &__innerWrapper {
    border-bottom: 1px solid var(--vector-deep-gray);
    padding-bottom: fluid(15px, 20px, 360px, 768px);
    .ourAchievements__city {
      display: flex;
      margin-top: fluid(10px, 15px, 360px, 768px);
      @include respond-min(1024px) {
        margin-top: 20px;
      }
      @include typography(var(--text-gray), 500, fluid(18px, 28px, 360px, 768px), 1.15);
    }
  }

  h2 {
    @include clip-shape();
    margin-bottom: fluid(10px, 20px, 360px, 768px);
    background-color: var(--bg-black);
    padding: 12px;
    @include typography(var(--text-white), 600, fluid(22px, 36px, 360px, 768px), 1);
    @include respond-min(768px) {
      font-size: fluid(36px, 42px);
    }
  }

  &__subtitle-wrapper {
    display: flex;
    justify-content: space-between;

    h3 {
      width: 90%;
      @include typography(var(--text-black), 500, fluid(18px, 28px, 360px, 768px), 1.15);
    }

    svg {
      flex-shrink: 0;
      transform: rotate(-90deg);
      transition: transform 0.3s ease-in-out;
    }

    .ourAchievements__arrow--active {
      transition: transform 0.2s ease-in-out;
      transform: rotate(90deg);
    }
  }

  &__description {
    padding-block: fluid(13px, 15px, 360px, 768px);
    @include typography(
      var(--text-black),
      500,
      fluid(14px, 22px, 360px, 768px),
      1.1,
      none,
      -0.05em
    );
    font-family: var(--second-family);
    span {
      white-space: pre-line;
      display: block;
      color: var(--text-gray);
    }
  }

  &__image-wrapper {
    height: 228px;
    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    gap: 8px;
  }

  .embla__slide {
    display: flex;
    align-items: flex-end;
    flex: 0 0 auto;
    max-height: 228px;
    max-width: 100%;
  }
}
