@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

// На мобилке не отображается, поэтому стили только для desktop
@include respond-min(1300px) {
  .project-menu-item__number {
    font-family: var(--second-family);
    color: var(--text-light-gray);
    min-height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;
    transition:
      background-color 0.3s,
      color 0.3s;

    // Hover и активное состояние
    &:is(.hovered, .project-menu--active) {
      background-color: var(--bg-black);
      color: var(--text-white);
    }
    &:is(.project-menu--active) {
      padding-bottom: 69px;
    }
  }
}
