@use '../../shared/styles/functions' as *;
@use '../../shared/styles/mixins' as *;

.project-menu {
  .project-menu__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;

    .project-menu__title {
      position: relative;
      margin-bottom: 10px;
      @include bracket-decor(
        #4d4d4d,
        (
          top: -1px,
          left: 0,
        )
      );
      margin-top: 100px;
    }

    .project-menu__subtitle {
      font-family: var(--second-family);
      @include typography(var(--text-black), 600, 22px, 100%);
      margin-bottom: 30px;
      span {
        color: var(--text-light-gray);
      }
    }

    .project-menu-item {
      margin-top: 4px;
      border-bottom: 1px solid #dfdfdf;
      &:first-child {
        border-top: 1px solid #dfdfdf;
      }

      .project-menu-item__client {
        font-family: var(--second-family);
        @include typography(#171717, 500, 14px, 110%, none);
      }

      .project-menu-item__subtitle {
        position: relative;
        @include typography(var(--text-black), 500, 18px, 115%);
      }

      span {
        font-family: var(--second-family);
        @include typography(#171717, 500, 14px, 110%, none);
        margin-top: 8px;
      }
      p {
        @include typography(var(--text-light-gray), 500, 18px, 115%);
      }
    }
    .project-menu__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 100px;
      gap: 8px;
      @include typography(var(--text-black), 700, 16px, 120%);
    }
  }
}
