@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.project-menu {
  .project-menu__container {
    display: grid;
    grid-template-columns: 1fr;
    margin-block: 100px;

    .project-menu__title {
      position: relative;
      margin-bottom: 10px;
    }

    .project-menu__subtitle {
      margin-bottom: 30px;
      @include typography(
        var(--text-black),
        600,
        fluid(22px, 36px, 360px, 768px),
        1,
        uppercase,
        -1.32px
      );

      @include respond-min(768px) {
        font-size: fluid(36px, 42px);
      }

      span {
        color: var(--text-light-gray);
      }
    }

    .project-menu__headers {
      display: none;
    }

    .project-menu__list {
      display: flex;
      flex-direction: column;
    }
  }

  .project-menu__button {
    margin-top: fluid(20px, 40px);
  }
}

@include respond-min(1300px) {
  .project-menu {
    .project-menu__container {
      grid-template-columns: 0.6fr 1.7fr 0.8fr;
      grid-template-areas:
        'header header header'
        'headers headers headers'
        'list list list'
        '. button .';
      column-gap: 10px;

      .project-menu__header-section {
        display: grid;
        grid-area: header;
        grid-template-columns: 0.6fr 1.7fr 0.8fr;
        grid-template-areas: 'title subtitle .';
      }

      .project-menu__title {
        grid-area: title;
      }

      .project-menu__subtitle {
        grid-area: subtitle;
        align-self: flex-end;
        margin-bottom: 0;
      }

      .project-menu__headers {
        grid-area: headers;
        display: grid;
        grid-template-columns: 0.6fr 1.7fr 0.8fr;
        column-gap: 10px;
        margin-bottom: 20px;
        padding-left: 5px;

        .project-menu__header {
          font-family: var(--second-family);
          @include typography(var(--text-deep-gray), 500, 22px, 1.1, none);
          letter-spacing: 0.5px;
          padding-bottom: 10px;
          margin-top: 40px;
          text-align: left;
          display: inline-flex;
        }
      }

      .project-menu__list {
        grid-area: list;
        display: flex;
        flex-direction: column;
      }

      .project-menu__button {
        grid-area: button;
        margin-right: auto;
      }
    }
  }
}
