@use '../../shared/styles/functions' as *;
@use '../../shared/styles/mixins' as *;

.questions {
  &__container {
    margin-block: 6.875rem 6.25rem;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.625rem;
  }

  &__title {
    position: relative;
    margin-bottom: 0.625rem;
    @include bracket-decor(
      var(--text-deep-gray),
      (
        top: -2px,
        left: 0,
      )
    );
  }

  .card-wrapper {
    display: grid;
    gap: 0.5rem;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 170px;
    padding: 0.625rem;

    background-color: var(--bg-light-gray);
    color: var(--text-black);

    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    .questions__description {
      font-family: var(--second-family);
      margin-top: 6px;
      @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none);
    }

    &:hover {
      background-color: var(--bg-black);
      color: white;

      .questions__card-decorative {
        opacity: 1;
        visibility: visible;
      }

      .questions__content::after {
        background-color: white;
      }

      .questions__card-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__card-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    transition: transform 0.22s ease;
  }

  &__card-arrow--active {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    transition: transform 0.22s ease;
  }

  &__content {
    position: relative;
    @include typography(var(--text-black), 500, fluid(20px, 28px), 1.15);
    color: inherit;
    transition: color 0.2s ease;

    &::after {
      content: '';
      background-color: #565656;
      @include decoration(
        var(--text-black),
        fluid(14px, 20px),
        '/img/decoration.svg',
        (
          top: -6px,
          left: -7px,
        )
      );
    }
  }

  &__card-decorative {
    @include decoration(
      var(--text-white),
      fluid(20px, 28px),
      '/img/kvadrat.svg',
      (
        top: 0,
        right: -1px,
      )
    );
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      opacity 0.22s ease,
      visibility 0.22s ease;
  }

  &__card--active {
    justify-content: center;
    align-items: flex-start;
    gap: 0.375rem;
    padding: 0.625rem;

    background-color: var(--bg-white);
    border: 1px solid var(--text-gray);
    border-radius: 2px 0 2px 0;
    cursor: pointer;

    &::before {
      content: '';
      @include decoration(
        var(--text-black),
        fluid(22px, 42px),
        '/img/decoration-card.svg',
        (
          top: -1px,
          left: -1px,
        )
      );
      transform: rotate(180deg);
      background-color: currentColor;
    }

    &::after {
      content: '';
      @include decoration(
        var(--text-black),
        fluid(22px, 42px),
        '/img/decoration-card.svg',
        (
          bottom: -1px,
          right: -1px,
        )
      );
      background-color: currentColor;
    }

    &:hover {
      background-color: var(--bg-black);
      color: white;

      .questions__card-title,
      .questions__card-subtitle {
        color: white;
      }

      .questions__card-arrow--active {
        color: white;
        transform: rotate(180deg);
      }
    }
  }

  &__card-title {
    .questions__card--active & {
      @include typography(var(--text-black), 500, fluid(22px, 42px), 1);
      color: inherit;
    }
  }

  &__card-subtitle {
    .questions__card--active & {
      font-family: var(--second-family);
      @include typography(var(--text-black), 500, fluid(14px, 22px), 1.1, none);
    }
  }

  @include respond-min(1024px) {
    &__card {
      $card-size: clamp(240px, 20vw, 400px);
      min-height: $card-size;
      max-width: $card-size;
    }

    &__card-decorative {
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      transform: rotate(180deg);
    }

    .card-wrapper {
      grid-template-columns: repeat(5, minmax(240px, 400px));
      grid-template-areas:
        'a . b c .'
        'd e f g .'
        '. h . q .';
    }

    // Маппинг индексов на grid-areas
    $grid-areas: (
      1: a,
      2: b,
      3: c,
      4: d,
      5: e,
      6: f,
      7: g,
      8: h,
      9: q,
    );

    @each $index, $area in $grid-areas {
      &__card[data-grid-index='#{$index}'] {
        grid-area: #{$area};
      }
    }
  }

  @include respond-min(1250px) {
    .card-wrapper {
      grid-template-areas:
        'a . b c .'
        'd e f . g'
        '. h . q .';
    }
  }
}
