@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.questions {
  &__container {
    margin-block: 6.875rem 6.25rem;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.625rem;
  }

  &__title {
    position: relative;
    margin-bottom: 0.625rem;
  }

  .card-wrapper {
    display: grid;
    gap: 0.5rem;
  }

  &__card-arrow--active {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    transition: transform 0.22s ease;
  }

  &__card--active {
    justify-content: center;
    align-items: flex-start;
    gap: 0.375rem;
    padding: 0.625rem;

    background-color: var(--bg-white);
    border: 1px solid var(--text-gray);
    border-radius: 2px 0 2px 0;
    cursor: pointer;

    &::before {
      content: '';
      @include decoration(
        var(--text-black),
        fluid(22px, 42px),
        '/img/decoration-card.svg',
        (
          top: -1px,
          left: -1px,
        )
      );
      transform: rotate(180deg);
      background-color: currentColor;
    }

    &::after {
      content: '';
      @include decoration(
        var(--text-black),
        fluid(22px, 42px),
        '/img/decoration-card.svg',
        (
          bottom: -1px,
          right: -1px,
        )
      );
      background-color: currentColor;
    }

    &:hover {
      background-color: var(--bg-black);
      color: var(--text-white);

      .questions__card-title,
      .questions__card-subtitle {
        color: var(--text-white);
      }

      .questions__card-arrow--active {
        color: var(--text-white);
        transform: rotate(180deg);
      }
    }
  }

  &__card-title {
    .questions__card--active & {
      @include typography(var(--text-black), 500, fluid(22px, 42px), 1);
      color: inherit;
    }
  }

  &__card-subtitle {
    .questions__card--active & {
      font-family: var(--second-family);
      @include typography(var(--text-black), 500, fluid(14px, 22px), 1.1, none);
    }
  }

  @include respond-min(768px 1022px, between) {
    .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    &__card {
      &:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
      }
    }
  }

  @include respond-min(1024px) {
    .questions__card-decorative {
      top: auto;
      bottom: -1px;
      left: -1px;
      transform: rotate(180deg);
    }

    .card-wrapper {
      grid-template-columns: repeat(5, minmax(240px, 400px));
      grid-template-areas:
        'a . b c .'
        'd e f g .'
        '. h . q .';
    }

    $grid-areas: (
      1: a,
      2: b,
      3: c,
      4: d,
      5: e,
      6: f,
      7: g,
      8: h,
      9: q,
    );

    @each $index, $area in $grid-areas {
      &__card[data-grid-index='#{$index}'] {
        grid-area: #{$area};
      }
    }

    .card-wrapper:not(.card-wrapper--custom) {
      .questions__card[data-grid-index='7'] {
        grid-area: g;
      }
      .questions__card--active {
        grid-area: q;
      }
    }

    .card-wrapper--custom {
      .questions__card[data-grid-index='7'] {
        grid-area: q;
      }
      .questions__card--active {
        grid-area: g;
      }
    }
  }

  @include respond-min(1250px) {
    .card-wrapper {
      grid-template-areas:
        'a . b c .'
        'd e f . g'
        '. h . q .';
    }
    .card-wrapper--custom {
      grid-template-areas:
        'a . b c .'
        'd e f . g'
        '. h . q .';
    }
  }
}
