@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.questions {
  padding-block: fluid(100px, 152px, 360px, 768px);
  @include respond-min(1024px) {
    padding-block: fluid(152px, 190px);
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.625rem;
  }

  &__title {
    position: relative;
    margin-bottom: 0.625rem;
  }

  .card-wrapper {
    display: grid;
    gap: 0.5rem;
  }

  &__card-arrow--active {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    transition: transform 0.22s ease;
  }

  &__card-title {
    .questions__card--active & {
      @include typography(var(--text-black), 500, fluid(31px, 42px, 360px, 768px), 1);
      color: inherit;
    }
  }

  &__card-subtitle {
    .questions__card--active & {
      font-family: var(--second-family);
      @include typography(var(--text-deep-gray), 500, fluid(14px, 22px, 360px, 768px), 1.1, none);
    }
  }

  @include respond-min(768px 1022px, between) {
    .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    &__card {
      &:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
      }
    }
  }

  @include respond-min(1024px) {
    .questions__card-decorative {
      top: auto;
      bottom: -1px;
      left: -1px;
      transform: rotate(180deg);
    }

    .card-wrapper {
      grid-template-columns: repeat(5, minmax(240px, 400px));
      grid-template-areas:
        'a . b c .'
        'd e f g .'
        '. h . q .';
    }

    $grid-areas: (
      1: a,
      2: b,
      3: c,
      4: d,
      5: e,
      6: f,
      7: g,
      8: h,
      9: q,
    );

    @each $index, $area in $grid-areas {
      &__card[data-grid-index='#{$index}'] {
        grid-area: #{$area};
      }
    }

    .card-wrapper:not(.card-wrapper--custom) {
      .questions__card[data-grid-index='7'] {
        grid-area: g;
      }
      .questions__card--active {
        grid-area: q;
      }
    }

    .card-wrapper--custom {
      .questions__card[data-grid-index='7'] {
        grid-area: q;
      }
      .questions__card--active {
        grid-area: g;
      }
    }
  }

  @include respond-min(1250px) {
    .card-wrapper {
      grid-template-areas:
        'a . b c .'
        'd e f . g'
        '. h . q .';
    }
    .card-wrapper--custom {
      grid-template-areas:
        'a . b c .'
        'd e f . g'
        '. h . q .';
    }
  }
}
