@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

[data-type='SKD'] {
  --types-white: var(--text-deep-gray);
  --types-deep-gray: var(--text-white);
}

[data-type='OPS'] {
  --types-white: var(--text-white);
  --types-deep-gray: var(--text-deep-gray);
}

.typesOfBlock {
  padding-block: 100px;
  background-color: var(--bg-black);

  &__title {
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  &__subTitle {
    margin-bottom: fluid(15px, 40px);

    h4 {
      color: var(--types-white);
    }

    span {
      color: var(--types-deep-gray);
    }
  }
}

.typesOfBlock__slide-item {
  position: relative;
  width: 300px;
  height: 510px;

  .typesOfBlock__slide-item-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white);
    padding: 10px;
    margin: 5px;
    inset: auto 0 0;
    @include clip-shape();

    p {
      @include typography(var(--text-gray), 500, fluid(14px, 22px), 1.1, none);
      font-family: var(--second-family);
      text-align: center;
      width: 90%;
    }
  }
}

.swiper {
  padding-inline: 30px !important;
  margin-inline: -30px !important;
  &-slide {
    max-width: 300px;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    img {
      transition: filter 0.3s ease;
      filter: grayscale(1);
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 30px;
    bottom: auto;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--text-white);
    transform: none !important;
  }
}

.typesOfBlock__slide-item-img {
  @include clip-shape();
  min-width: 300px;
  min-height: 510px;

  flex: 1;
  &::after {
    content: '';
    @include decoration(var(--text-black), 20px);
  }
}
.swiper-slide-active {
  img {
    filter: grayscale(0);
  }
}

@include respond-min(768px) {
  .swiper-slide {
    min-width: 430px;
    min-height: 720px;
  }
  .typesOfBlock__slide-item {
    min-width: 430px;
    min-height: 720px;
  }
  .typesOfBlock__slide-item-img {
    min-width: 430px;
    min-height: 720px;
  }
  .typesOfBlock__slide-item {
    .typesOfBlock__slide-item-title {
      p {
        width: 70%;
      }
    }
  }
}

@include respond-min(1024px) {
  .typesOfBlock__wrapper {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
  }

  .swiper-slide {
    min-height: 115px;
    min-width: 600px;
  }

  .typesOfBlock__subTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
  }
  .typesOfBlock__slide-item {
    min-width: 600px;
    min-height: 900px;

    img {
      object-fit: cover;
    }
  }

  .typesOfBlock__slide-item-img {
    min-width: 600px;
    min-height: 900px;
  }
}
