@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

[data-type='SKD'] {
  --types-white: var(--text-deep-gray);
  --types-deep-gray: var(--text-white);
}

[data-type='OPS'] {
  --types-white: var(--text-white);
  --types-deep-gray: var(--text-deep-gray);
}

.typesOfBlock {
  padding-block: 100px;
  background-color: var(--bg-black);
}

.typesOfBlock__title {
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}

.typesOfBlock__subTitle {
  h4 {
    color: var(--types-white);
  }

  margin-bottom: fluid(15px, 40px);
  span {
    color: var(--types-deep-gray);
  }
}

.typesOfBlock__slide-item {
  position: relative;
  min-width: 300px;
  min-height: 510px;

  .typesOfBlock__slide-item-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white);
    padding: 10px;
    margin: 5px;
    bottom: 0;
    right: 0;
    left: 0;
    @include clip-shape();

    p {
      @include typography(var(--text-gray), 500, fluid(14px, 22px), 1.1, none);
      font-family: var(--second-family);
      text-align: center;
      width: 70%;
    }
  }
}

.swiper-slide {
  max-width: 300px;
  img {
    filter: grayscale(1);
  }
}

.swiper-pagination {
  position: relative;
  margin-top: 30px;
  bottom: auto;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--text-white);
  transform: none !important;
}

.typesOfBlock__slide-item-img {
  min-width: 300px;
  min-height: 510px;
  flex: 1;
  &::after {
    content: '';
    @include decoration(var(--text-black), 20px);
  }
}
.swiper-slide-active {
  img {
    filter: grayscale(0);
  }
}

@include respond-min(1024px) {
  .typesOfBlock__wrapper {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
  }

  .swiper-slide {
    min-height: 115px;
    min-width: 600px;
  }

  .typesOfBlock__subTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
  }
  .typesOfBlock__slide-item {
    min-width: 600px;
    min-height: 900px;

    img {
      object-fit: cover;
    }
  }
}
