@use 'variables' as vars;
@use 'mixins' as m;

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Light"),
  url("/fonts/Oswald-Light.woff2") format("woff2"),
  url("/fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Regular"),
  url("/fonts/Oswald-Regular.woff2") format("woff2"),
  url("/fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Medium"),
  url("/fonts/Oswald-Medium.woff2") format("woff2"),
  url("/fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-SemiBold"),
  url("/fonts/Oswald-SemiBold.woff2") format("woff2"),
  url("/fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Bold"),
  url("/fonts/Oswald-Bold.woff2") format("woff2"),
  url("/fonts/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Condensed-Medium"),
  url("/fonts/Roboto-Condensed-Medium.woff2") format("woff2"),
  url("/fonts/Roboto-Condensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Condensed-Regular"),
  url("/fonts/Roboto-Condensed-Regular.woff2") format("woff2"),
  url("/fonts/Roboto-Condensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"),
  url("/fonts/Inter-Bold.woff2") format("woff2"),
  url("/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: vars.$color-white;
}

// .container {
//   width: m.fluid(360px, 1920px);
//   padding-inline: 10px;
//   margin: 0 auto;
// }

.container {
  width: 100%;
  max-width: clamp(360px, 100vw - 20px, 1860px);
  margin-inline: auto;
  padding-inline: clamp(10px, 2vw, 20px);
}

@media (min-width: 1860px) {
  .container {
    max-width: 1860px;
    // padding-inline: 20px;
  }
}

.flex {
  display: flex;
}

.title {
    position: relative;
    margin-left: 0.625rem;
    letter-spacing: -0.84px;
}