// Цвета текста
$color-black: #030303;
$color-white: #FFFFFF;
$color-dark-grey: #4D4D4D;
$color-grey: #919191;
$color-light-grey: #D0D0D0;

// Фон
$bg-black: #030303;
$bg-white: #FFFFFF;
$bg-dark-grey: #464646;
$bg-deep-gray: #171717;
$bg-grey: #919191;
$bg-light-grey: #D0D0D0;
$bg-middl-grey: #f5f5f5;

// Графика 
$graphics-black: #030303;
$graphics-almost-black: #212121;
$graphics-white: #FFFFFF;
$graphics-dark-grey: #565656;
$graphics-light-grey: #DFDFDF;

// Шрифты
$font-family: "Oswald", sans-serif;
$second-family: "Roboto", sans-serif;
$third-family: "Inter", sans-serif;
$font3: "Bedstead", sans-serif;
$font4: "Onest", sans-serif;

// Текст
$font-size-heading: m.fluid(70px, 243px);
$font-size-title: m.fluid(14px, 22px);
$font-size-subtitle: m.fluid(31px, 68px);
$font-size-middl-title: m.fluid(22px, 42px);
$font-size-small-title: m.fluid(20px, 28px);
$font-size-menu-header: 20px;