@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.ntouch {
  background-color: var(--bg-black);
  padding-block: 100px;

  &__title {
    margin-top: fluid(80px, 133px);
    @include typography(var(--text-white), 500, fluid(22px, 58px, 360px, 768px), 1);
  }

  &__subtitle {
    margin-top: 30px;
    @include typography(var(--text-light-gray), 500, fluid(14px, 22px, 360px, 768px), 1.1, none);
  }
}

@include respond-min(768px) {
  .ntouch {
    &__title {
      font-size: fluid(58px, 68px);
    }
    &__subtitle {
      margin-left: auto;
      width: 50%;
    }
  }
}

@include respond-min(1024px) {
  .ntouch {
    .ntouch__subtitle-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__subtitle {
      display: inline-flex;
      width: 100%;
      margin-left: 0;
      grid-column: 3 / 4;
    }
  }
}
