@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

// CSS переменные для тем
[data-theme='dark'] {
  --header-bg: var(--bg-black);
  --header-text: var(--text-white);
  --header-line: var(--vector-almost-black);
}

[data-theme='light'] {
  --header-bg: var(--bg-white);
  --header-text: var(--text-black);
  --header-line: var(--vector-light-gray);
}
// _header.scss
.hidden,
.hidden__contacts {
  display: none;
}

.modal-mobil {
  position: relative;

  &__container {
    @include line-decor(2% 50% 98%, var(--header-line));
    flex-direction: column;
    gap: 90px;
    padding-top: 74px;
    height: 100vh;
  }

  &__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
  }
  .nav {
    &__list {
      flex-direction: column;
      gap: 4px;
    }
    &__link {
      @include typography(var(--header-text), 500, 31px);
      position: relative;
      color: var(--header-text);
      align-items: center;
      gap: 4px;
      transition: color 0.2s ease-in-out;
    }
  }
  .wrapper-phone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--vector-light-gray);
  }

  &__phone, &__city {
    color: var(--text-deep-gray);
  }
}

.header {
  // position: relative;
  background-color: var(--header-bg);
  z-index: 1;
  margin-bottom: -1px;

  &__container {
    min-height: 59px;
    // @include line-decor(2% 50% 98%);
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__burger {
    position: absolute;
    top: 15px;
    right: 12px;
  }

  &__btn {
    padding: 0.625rem;
    width: 1.75rem;
    height: 0.5rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--bg-white);
      box-shadow: 0 8px 0 var(--bg-white);
      transition: all 0.3s ease;
    }

    &.active::before {
      top: 8px;
      transform: rotate(45deg);
      box-shadow: 0 0 0 transparent;
    }
  }

  &__logo {
    width: auto;
    height: auto;
    max-width: 90px;
    max-height: 48px;
  }
}

// tablet 
@include respond-min(768px) {
  .header {
    &__container {
      min-height: 96px;
    }
    
    &__logo {
      max-width: 137px;
      max-height: 75px;
    }

    &__burger {
    top: 30px;
    right: 25px;
  }
  }
}

// min-desktop
@include respond-min(1024px) {
  .header{
    .hidden,
    .hidden__contacts {
      display: flex;
    }

    .hidden__burger--deckstop {
      display: none;
    }

    &__container {
      align-items: center;
      justify-content: space-between;
    }

    &__wrapper {
      width: 70%;
      align-items: center;
      justify-content: space-between;
    }

    .nav {
      &__list {
        gap: 20px;
      }
    }

    &__wrapper-contacts {
      align-items: center;
      gap: 30px;
    }
  }
}

// dekstop
@include respond-min(1380px) {
  body:has(.wrapper-modal) {
    margin-top: 119px;
  }

  body:has(.wrapper-modal) .header__container {
    @include line-decor(0.5% 25.4% 50% 74.6% 99%, var(--header-line));
  }

  body:has(.bottom-block) .header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    z-index: 20;
  }
  .header {
    min-height: 119px;
    &__container {
      padding-block: 20px;
    }
    &__wrapper {
      width: 54%;
    }
    
    .nav {
      &__list {
        flex-direction: unset;
        gap: 30px;
      }
      &__link {
        position: relative;
        color: var(--header-text);
        align-items: center;
        gap: 4px;
        transition: color 0.2s ease-in-out;
      }
      &__link.hovered {
        color: var(--text-white);
      }
    }
    &__logo {
      max-width: 144px;
      max-height: 78px;
    }
    
    .header__city option {
      background-color: var(--header-bg);
      color: var(--header-text);
    }

    &__phone {
      @include typography(var(--header-text), 500, 20px);
    }
  }
}
