@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.gallery-section {
  padding-top: 119px;
  background-color: var(--bg-black);

  h1 {
    margin-top: fluid(62px, 100px);
    @include typography(
      var(--text-white),
      500,
      fluid(31px, 58px, 360px, 768px),
      1,
      uppercase,
      -0.07em
    );

    @include respond-min(1024px) {
      font-size: fluid(31px, 68px);
      width: 60%;
    }

    span {
      color: var(--text-deep-gray);
    }
  }
}

.gallery {
  display: grid;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.gallery__item {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  @include clip-shape();
  @include item-decor(var(--vector-deep-gray));
  background-color: var(--bg-light-gray);

  img {
    padding: fluid(20px, 100px);
    object-fit: contain;
    mix-blend-mode: darken;
  }
}

.gallery--one {
  grid-template-columns: 1fr;
}

.gallery--two {
  grid-template-columns: 1fr;
  gap: fluid(10px, 20px);
}

.gallery--three {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__item:nth-child(2),
  .gallery__item:nth-child(3) {
    grid-column: span 1;
  }
}

@include respond-min(1280px) {
  .gallery--one .gallery__item {
    max-height: 700px;
  }

  .gallery--two {
    grid-template-columns: 1fr 1fr;
  }

  .gallery--three {
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(300px, 1fr);
    gap: 10px;
    align-items: stretch;

    .gallery__item:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 3;
      aspect-ratio: 16 / 9;
    }

    .gallery__item:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }

    .gallery__item:nth-child(3) {
      grid-column: 2;
      grid-row: 2;
    }

    .gallery__item:nth-child(2),
    .gallery__item:nth-child(3) {
      aspect-ratio: 16 / 9;
    }
  }
}
