@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.gallery-section {
  margin-block: 150px;
}

.gallery {
  display: grid;
  gap: 10px;
  width: 100%;
}

.gallery__item {
  position: relative;
  width: 100%;
  @include clip-shape();
  @include item-decor(var(--vector-deep-gray));
  background-color: var(--bg-light-gray);
  overflow: hidden;

  img {
    padding: fluid(40px, 100px);
    object-fit: contain;
  }
}

/* --- МОДИФИКАТОР: 1 Картинка (полный контейнер, по центру) --- */
.gallery--one {
  grid-template-columns: 1fr;

  .gallery__item {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

/* --- МОДИФИКАТОР: 2 Картинки (равномерно) --- */
.gallery--two {
  grid-template-columns: 1fr;
  gap: fluid(10px, 20px);

  .gallery__item {
    aspect-ratio: 16 / 9;
  }
}

/* --- МОДИФИКАТОР: 3 Картинки --- */
.gallery--three {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
    aspect-ratio: 16 / 9;
  }

  .gallery__item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2;
    aspect-ratio: 16 / 9;
  }

  .gallery__item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2;
    aspect-ratio: 16 / 9;
  }
}

/* --- TABLET --- */
@include respond-min(768px) {
  .gallery--three {
    .gallery__item {
      aspect-ratio: 16 / 9;
    }
  }
}

/* --- DESKTOP --- */
@include respond-min(1280px) {
  .gallery--two {
    grid-template-columns: 1fr 1fr;
  }

  .gallery--three {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    .gallery__item:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      aspect-ratio: 16 / 9;
    }

    .gallery__item:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      aspect-ratio: 16 / 9;
    }

    .gallery__item:nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      aspect-ratio: 16 / 9;
    }
  }
}
