@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.privacy {
  background-color: var(--bg-white);
  padding-block: 100px;
}

#privacy-policy {
  @include typography(var(--text-deep-gray), 500, fluid(14px, 22px, 360px, 768px), 1.1, none);
  font-family: var(--second-family);

  a {
    position: relative;
    width: fit-content;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--text-gray);
      transition: width 0.3s ease-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
  // ──────────────────
  // Главный заголовок
  // ──────────────────
  // Заголовок документа
  h1 {
    @include typography(
      var(--text-black),
      500,
      fluid(31px, 58px, 360px, 768px),
      1,
      uppercase,
      -0.07em
    );
    margin-bottom: fluid(40px, 60px);
    @include respond-min(768px) {
      font-size: fluid(58px, 68px);
    }
  }

  // Заголовки разделов
  h2 {
    font-family: var(--second-family);
    @include typography(var(--text-black), 500, fluid(14px, 22px, 360px, 768px), 1.1, none);
    margin-bottom: fluid(10px, 15px, 360px, 768px);
  }

  // Основной текст
  p {
    margin-bottom: 20px;
  }

  // Списки
  ul,
  ol {
    list-style: inside;
    margin: 0 0 20px 10px;

    li {
      margin: 6px 0;
    }
  }

  // Контакты
  address {
    margin-bottom: 20px;
  }

  time {
    white-space: nowrap;
  }
}
