@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

// Стили для слайдера
.service-slider {
  .slider__article-title {
    min-height: 41px;
    margin-bottom: 4px;
  }

  &__swiper {
    padding: 0.5rem;
  }

  .swiper-slide {
      width: 156px !important; 
      flex-shrink: 0;
      max-width: 18rem;

      @media (min-width: 768px) {
        width: 247px !important;
        max-width: none;
      }  
  }

  .wrapper-image {
    &::after {
    content: '';
    @include decoration(var(--text-black), 24px);
    top: 17px;
  }
  }

  .slider {
    &__wrapper {
      padding-top: 18px;
      min-height: 309px;
      flex-direction: column;
       @media (min-width: 768px) {
          min-height: 479px !important;
          max-width: none;
        }
    }

    &__image {
      width: 156px;
      height: 156px;
      margin-bottom: 8px;
      @media (min-width: 768px) {
        width: 247px;
        height: 247px;
      }
    }

    &__caption {
      @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none, -0.84px);
      font-family: "Roboto Condensed";
    }
  } 

  &__btn {
    margin-top: auto;
    align-items: center;
    gap: 8px;
    span {
      @include typography(var(--text-white), 700, fluid(16px, 26px), 1.2, uppercase, -0.96px);
      display: inline-block;
    }
  }
}

@include respond-min(768px) {
  .service-slider{
    .slider__article-title {
      font-size: 28px;
    }

    .slider {
      &__caption {
        font-size: 22px;
      }
    }

    &__btn {
      gap: 10px;
      span {
        font-size: 26px;
      }
    }
  }
}

// @keyframes slideDown {
//   from { 
//     opacity: 0; 
//     transform: translateY(-10px);
//     max-height: 0;
//   }
//   to { 
//     opacity: 1; 
//     transform: translateY(0);
//     max-height: 500px;
//   }
// }