@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.service-slider {
  .slider__article-title {
    min-height: 41px;
    margin-bottom: 4px;
  }

  &__swiper {
    padding: 0.5rem;
  }

  .service-slider__swiper .swiper-slide {
    max-width: 156px;
    flex-shrink: 0;
  }

  .wrapper-image {
    @include clip-shape();
  }

  .slider {
    &__wrapper {
      padding-top: 18px;
      min-height: 309px;
      flex-direction: column;
    }

    &__image {
      width: 156px;
      height: 156px;
      margin-bottom: 8px;
    }

    &__caption {
      @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none, -0.84px);
      font-family: 'Roboto Condensed';
    }
  }

  &__btn {
    margin-top: auto;
    align-items: center;
    gap: 8px;
    span {
      @include typography(var(--text-white), 700, fluid(16px, 26px), 1.2, uppercase, -0.96px);
      display: inline-block;
    }
  }
}

@include respond-min(768px) {
  .service-slider {
    .slider__article-title {
      font-size: 28px;
    }

    .service-slider__swiper .swiper-slide {
      max-width: 247px;
    }

    .slider {
      &__wrapper {
        min-height: 479px;
      }

      &__image {
        width: 247px;
        height: 247px;
      }

      &__caption {
        font-size: 22px;
      }
    }

    &__btn {
      gap: 10px;
      span {
        font-size: 26px;
      }
    }
  }
}

@include respond-min(1024px) {
  .service-slider {
    .swiper-wrapper {
      gap: 15px;
    }
    .service-slider__swiper .swiper-slide {
      max-width: 247px;
      min-width: 0;
      margin-right: 0 !important;
    }
  }
}
