@use '../variables' as vars;
@use '../mixins' as m;

.feedback-menu {
  position: relative;
  z-index: 2;
  min-height: 51.25rem;
  background-image: url("/public/background/bg-feedback.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -0.75rem;
  
  &__wrapper {
    padding: 0 0.75rem;
  }
  
  &__button {
    position: relative;
    background-color: vars.$bg-black;
    height: 3.25rem;
    width: 100%;
    margin: 0 auto;
    @include m.typography(vars.$color-white, 700 , 1.125rem, 120%);
    @include m.arrow-icon(vars.$color-white);

    
    .feedback-menu__decoration-top {
      @include m.decoration('/public/decoration.svg', 0.75rem, (top: 0, left: 0), vars.$color-white, mask);
      margin-top: 0.188rem;
      margin-left: 0.188rem;
    }
    
    .feedback-menu__decoration-bottom {
      @include m.decoration('/public/decoration.svg', 0.75rem, (bottom: 0, right: 0), vars.$color-white, mask);
      position: absolute; bottom: 0; right: 0;
      transform: rotate(180deg);
      margin-bottom: 0.188rem;
      margin-right: 0.188rem;
    }
  }
  
  &__title {
    @include m.typography(vars.$color-black, 500, 1.938rem, 100%);
    text-align: center;
  }
}


