@use '../variables' as vars;
@use '../mixins' as m;

.footer {
  display: grid;
  background-color: vars.$bg-black;
  position: relative;
  min-height: 49.688rem;
  color: white;
  padding-left: 0.625rem;
  padding-top: 2.625rem;
  z-index: 1;
  @include m.line-decor(6px 56% calc(100% - 12px));
  
  .footer__container {
    display: grid;
    grid-template-columns: minmax(20rem, 43.75rem) 1fr;
    grid-template:
          'logo arrow'
  'pages .'
  'about .'
  'contact .'
  'description .'
  ;
  }
  
  .footer__pages {
    padding: 0.625rem;
    grid-area: pages;
    position: relative;
  }

  .footer-decoration {
    position: absolute;
    left: 0;
    top: 0;
  }

  .footer__about {
    grid-area: about;
    position: relative;
    padding: 0.625rem;
    @include m.typography();
    address {
      font-style: normal;
      font-family: inherit;
    }
  }

  .footer__copyright {
    display: grid;
    grid-area: description;
    @include m.typography(vars.$color-grey);
    .footer__copyright-text {
      span {
        display: block;
      }
    }
    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  .arrow {
    width: 1.875rem;
    grid-area: arrow;
    margin-top: 1.875rem;
  }

  .footer__logo {
    grid-area: logo;
    @include m.typography(vars.$color-white, 700, 7.5rem, 120%);
    font-family: vars.$third-family;
  }

  .footer__title {
    display: block;
    @include m.typography(vars.$color-grey);
    padding-bottom: 12px;
  }

  .footer__list {
    display: grid;
    gap: 2px;
    li {
      @include m.typography();
    }
  }
}

