@use '../variables' as vars;
@use '../mixins' as m;



.hero {
    position: relative;
    padding-block: 8.375rem 1.3125rem;
    background-color: vars.$bg-black;
    @include m.trapezoid-decor();
}

.hero__container {
    flex-direction: column;
}

.heading {
    order: 3;
    @include m.typography(vars.$color-light-grey, 700, 0.875rem)
}

.hero__title {
    margin-bottom: 2.5rem;
    @include m.typography(vars.$color-white, 500, 1.938rem, 100%);
}

.hero__subtitle {
    position: relative;
    margin-left: 0.625rem;
    @include m.bracket-decor();
    @include m.typography(vars.$color-light-grey, 700, 0.875rem, 120%)
}

.hero__content {
    margin-bottom: 9.375rem;
    gap: 3.938rem;
}

.hero__prev {
    @include m.typography(vars.$color-light-grey, 500, 0.875rem, 110%, none);
    font-family: vars.$second-family;
}

.hero {
    position: relative;
    padding-block: 8.375rem 1.313rem;
    background-color: vars.$bg-black;
    @include m.trapezoid-decor();
    @include m.line-decor(6px 56% calc(100% - 12px));
}

// Убедимся, что трапеция поверх линий
.hero::after {
    z-index: 1;
}

.hero__container {
    position: relative;
    flex-direction: column;
    // Контейнер автоматически будет поверх линий
}

// Убедимся, что скобка поверх всего
.hero__subtitle::after {
    z-index: 2;
}