@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.result {
  &.with-trapezoids {
    @include trapezoid-decor(21px, 12px, var(--vector-black), both);
  }
  position: relative;
  background-color: var(--bg-black);
  z-index: 1;

  &__container {
    @include line-decor(2% 50% 98%);
    position: relative;
    padding-block: 88px;
    flex-direction: column;
    gap: 10px;
  }

  &__inner {
    flex-direction: column;
    gap: 0.625rem;
  }
}

@include respond-min(1024px) {
  .result {
    &.with-trapezoids {
      @include trapezoid-decor(56px, 33px, black, both, 1030px, -32px);
    }

    &__container {
      @include line-decor(1% 25.4% 50% 74.6% 99%);
      display: grid;
      padding-block: 68px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
      gap: 20px;
    }

    &__item {
      padding: 20px;
      position: relative;

      &:not(:first-child) .item__inner {
        @include item-decor(
          var(--vector-black),
          20px,
          $before-position: (top: -13px, left: -12px),
          $after-position: (bottom: -13px, right: -12px)
        );
      }

      &:nth-child(1) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
      &:nth-child(3) {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
      }
      &:nth-child(4) {
        grid-column: 4 / 4;
        grid-row: 1 / 2;
      }
      &:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    }

    &__inner {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &__list {
      grid-column: 1 / 5;
      grid-row: 1 / 3;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
      gap: 20px;
    }
    .item {
      &__inner {
        min-height: 368px;
        justify-content: space-between;
        &:not(:has(.item__prev)) {
          flex-direction: column;
          align-items: unset;
          gap: 0.938rem;
        }
      }
      &__inner-layout {
        display: grid;
        grid-template-columns: 1.7fr 1fr;
      }
      &__number-layout {
        align-self: flex-end;
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &__title {
        letter-spacing: -2.52px;
      }
      &__title-width {
        width: 91%;
      }
      &__title-layout {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &__prev {
        letter-spacing: -1.1px;
      }
      &__prev-layout {
        text-align: end;
        align-self: flex-end;
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
  }
}
