@use 'sass:math';
@use 'sass:map';

$_fluid-cache: () !default;

@function fluid($size-at-min-width, $size-at-max-width, $min-width: 360px, $max-width: 1600px) {
  $cache-key: '#{$size-at-min-width}-#{$size-at-max-width}-#{$min-width}-#{$max-width}';

  @if map.has-key($_fluid-cache, $cache-key) {
    @return map.get($_fluid-cache, $cache-key);
  }

  $size-diff: $size-at-max-width - $size-at-min-width;
  $width-diff: $max-width - $min-width;

  $slope: math.div($size-diff, $width-diff);
  $y-axis-intersection: $size-at-min-width - ($min-width * $slope);

  $return-value: clamp(
    #{$size-at-min-width},
    #{$y-axis-intersection} + #{$slope * 100}vw,
    #{$size-at-max-width}
  );

  $_fluid-cache: map.merge(
    $_fluid-cache,
    (
      $cache-key: $return-value,
    )
  ) !global;

  @return $return-value;
}
