@use 'sass:math';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use '@/shared/styles/functions' as *;

@mixin _pseudo-element-base(
  $width,
  $height,
  $z-index,
  $color,
  $image,
  $top,
  $bottom,
  $position-prop,
  $position-value,
  $transform
) {
  position: absolute;
  content: '';
  width: $width;
  height: $height;
  z-index: $z-index;
  top: $top;
  bottom: $bottom;
  #{$position-prop}: $position-value;
  transform: $transform;

  @if $color {
    background-color: $color;
    mask: url($image) no-repeat 0 0 / 100%;
  } @else {
    background: url($image) no-repeat 0 0 / 100%;
  }
}

@mixin decor-pseudo-elements(
  $color: null,
  $count: 'both',
  $image: '/img/modal-form-decor.svg',
  $width: 30%,
  $height: fluid(12px, 32px),
  $z-index: 1,
  $after-top: -2px,
  $after-bottom: auto,
  $after-left: -1px,
  $after-transform: rotateX(180deg),
  $before-top: -1px,
  $before-bottom: auto,
  $before-right: -1px,
  $before-transform: scaleY(-1) scaleX(-1)
) {
  @if $count != 'none' {
    @if $count == 'both' or $count == 'after' {
      &::after {
        @include _pseudo-element-base(
          $width,
          $height,
          $z-index,
          $color,
          $image,
          $after-top,
          $after-bottom,
          left,
          $after-left,
          $after-transform
        );
      }
    }

    @if $count == 'both' or $count == 'before' {
      &::before {
        @include _pseudo-element-base(
          $width,
          $height,
          $z-index,
          $color,
          $image,
          $before-top,
          $before-bottom,
          right,
          $before-right,
          $before-transform
        );
      }
    }
  }
}

@mixin clip-shape($position: top-right) {
  --clip-size: #{fluid(20px, 30px)};
  --clip-half: calc(var(--clip-size) / 2);

  @if $position == top-right {
    clip-path: polygon(
      0 0,
      calc(100% - var(--clip-size)) 0,
      calc(100% - var(--clip-size)) var(--clip-half),
      calc(100% - var(--clip-half)) var(--clip-half),
      calc(100% - var(--clip-half)) var(--clip-size),
      100% var(--clip-size),
      100% 100%,
      0 100%
    );
  } @else {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      var(--clip-size) 100%,
      var(--clip-size) calc(100% - var(--clip-half)),
      var(--clip-half) calc(100% - var(--clip-half)),
      var(--clip-half) calc(100% - var(--clip-size)),
      0 calc(100% - var(--clip-size))
    );
  }
}

@mixin typography(
  $color: var(--text-white),
  $weight: 500,
  $size: 1.125rem,
  $line: 120%,
  $transform: uppercase,
  $spacing: -0.06em
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  letter-spacing: $spacing;
  text-transform: $transform;
  color: $color;
}

@mixin decoration(
  $color: var(--text-white),
  $size: 0.75rem,
  $image: '/img/kvadrat.svg',
  $pos: (
    right: -1px,
    top: -1px,
  )
) {
  position: absolute;
  width: $size;
  height: $size;
  background-color: $color;
  mask: url(#{$image}) center / contain no-repeat;
  pointer-events: none;

  @each $k, $v in $pos {
    #{$k}: $v;
  }
}

@mixin respond-min($breakpoint, $type: min) {
  @if $type == min {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else if $type == max {
    @media (max-width: ($breakpoint - 1px)) {
      @content;
    }
  } @else {
    @media (min-width: list.nth($breakpoint, 1)) and (max-width: list.nth($breakpoint, 2)) {
      @content;
    }
  }
}

$trapezoid-configs: (
  'small': (
    width: 21px,
    height: 13px,
    shift: -11px,
  ),
  'medium': (
    width: 31px,
    height: 19px,
    shift: -17px,
  ),
  'large': (
    width: 42px,
    height: 25px,
    shift: -24px,
  ),
  'xlarge': (
    width: 56px,
    height: 33px,
    shift: -32px,
  ),
);

$trapezoid-breakpoints: (
  'small': 0,
  'medium': 768px,
  'large': 1024px,
  'xlarge': 1280px,
);

@mixin _trapezoid-pseudo($is-before, $width, $height, $color, $shift) {
  content: '';
  position: absolute;
  left: 50%;
  width: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-left: $width solid transparent;
  border-right: $width solid transparent;

  @if $is-before {
    top: $shift;
    border-top: $height solid $color;
  } @else {
    bottom: $shift;
    border-bottom: $height solid $color;
  }
}

@mixin _apply-trapezoid-styles($width, $height, $color, $shift, $position) {
  @if $position == top or $position == both {
    &::before {
      border-left-width: $width;
      border-right-width: $width;
      border-top-width: $height;
      border-top-color: $color;
      top: $shift;
    }
  }

  @if $position == bottom or $position == both {
    &::after {
      border-left-width: $width;
      border-right-width: $width;
      border-bottom-width: $height;
      border-bottom-color: $color;
      bottom: $shift;
    }
  }
}

@mixin trapezoid-decor(
  $responsive: true,
  $config: 'small',
  $width: null,
  $height: null,
  $color: var(--vector-black),
  $position: both,
  $shift: null
) {
  position: relative;

  @if $responsive {
    @each $size, $breakpoint in $trapezoid-breakpoints {
      @if map.has-key($trapezoid-configs, $size) {
        $config-map: map.get($trapezoid-configs, $size);

        @if $breakpoint == 0 {
          @if $position == top or $position == both {
            &::before {
              @include _trapezoid-pseudo(
                true,
                map.get($config-map, 'width'),
                map.get($config-map, 'height'),
                $color,
                map.get($config-map, 'shift')
              );
            }
          }

          @if $position == bottom or $position == both {
            &::after {
              @include _trapezoid-pseudo(
                false,
                map.get($config-map, 'width'),
                map.get($config-map, 'height'),
                $color,
                map.get($config-map, 'shift')
              );
            }
          }
        } @else {
          @media (min-width: $breakpoint) {
            @include _apply-trapezoid-styles(
              map.get($config-map, 'width'),
              map.get($config-map, 'height'),
              $color,
              map.get($config-map, 'shift'),
              $position
            );
          }
        }
      }
    }
  } @else {
    $base-config: if(
      $config and map.has-key($trapezoid-configs, $config),
      map.get($trapezoid-configs, $config),
      map.get($trapezoid-configs, 'small')
    );

    $final-width: $width or map.get($base-config, 'width');
    $final-height: $height or map.get($base-config, 'height');
    $final-shift: $shift or map.get($base-config, 'shift');

    @if $position == top or $position == both {
      &::before {
        @include _trapezoid-pseudo(true, $final-width, $final-height, $color, $final-shift);
      }
    }

    @if $position == bottom or $position == both {
      &::after {
        @include _trapezoid-pseudo(false, $final-width, $final-height, $color, $final-shift);
      }
    }
  }
}

@mixin bracket-decor(
  $color: #fff,
  $pos: (
    top: -2px,
    left: -10px,
  )
) {
  @include typography($color, 700, fluid(14px, 22px), 1.2);
  padding-left: fluid(10px, 22px);

  &::after {
    content: '[';
    position: absolute;
    @each $k, $v in $pos {
      #{$k}: $v;
    }
  }
}

@mixin line-decor($positions: 38.7% 50% 61.3%, $color: #212121, $thickness: 1px, $angle: 90deg) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background-repeat: no-repeat;

    $half-thickness: math.div($thickness, 2);

    $gradients: ();
    @each $pos in $positions {
      $gradient: linear-gradient(
        $angle,
        transparent calc(#{$pos} - #{$half-thickness}),
        $color calc(#{$pos} - #{$half-thickness}),
        $color calc(#{$pos} + #{$half-thickness}),
        transparent calc(#{$pos} + #{$half-thickness})
      );
      $gradients: list.append($gradients, $gradient, comma);
    }

    background-image: $gradients;
  }
}

@mixin item-decor(
  $color: var(--text-black),
  $sizeItem: fluid(12px, 20px),
  $before-position: (
    top: 3px,
    left: 3px,
  ),
  $after-position: (
    bottom: 3px,
    right: 3px,
  )
) {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $sizeItem;
    height: $sizeItem;
    background-color: $color;
    mask: url(/img/decoration.svg) center / contain no-repeat;
    z-index: 3;
  }

  &::before {
    @each $k, $v in $before-position {
      #{$k}: $v;
    }
  }

  &::after {
    transform: rotate(180deg);
    @each $k, $v in $after-position {
      #{$k}: $v;
    }
  }
}
