@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.spec {
  padding-block: 100px;

  &__title-container {
    position: relative;
    margin-left: 10px;
  }

  .spec__button {
    margin-top: fluid(40px, 100px);
    display: flex;
    justify-content: center;
  }

  .specList-list {
    > div {
      display: grid;
      gap: 11px;
      .spec-item {
        &__title {
          @include typography(var(--text-black), 500, fluid(18px, 28px, 360px, 768px), 1.15);
        }
        &__subtitle {
          font-family: var(--second-family);
          @include typography(var(--text-gray), 500, fluid(20px, 28px, 360px, 768px), 1.15, none);
          border-bottom: 1px solid var(--vector-light-gray);
          padding-bottom: 8px;
        }
      }
    }
  }

  .tabList-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: fluid(10px, 20px);
    margin-bottom: fluid(20px, 40px, 360px, 768px);

    align-items: center;
    overflow-x: auto;
    width: auto;
    margin-right: -20px;
    padding-right: 20px;
    > button {
      flex: 0 auto;
      padding-inline: 35px;
      white-space: nowrap;
      width: 40%;

      @include respond-min(768px) {
        width: 50%;

        padding-inline: 100px;
      }

      @include respond-min(1024px) {
        width: 30%;
      }
    }
  }
}

@include respond-min(768px) {
  .specList-list {
    > div {
      .spec-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        &__title,
        &__subtitle {
          border-bottom: 1px solid var(--vector-light-gray);
          padding-bottom: 8px;
          text-transform: uppercase !important;
        }
      }
    }
  }
}
