@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.hero-result {
  padding-top: 59px;
  @include trapezoid-decor($position: bottom);
  background-color: var(--bg-black);
  margin-bottom: -1px;

  &__container {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding-block: 80px 88px;
    row-gap: 28px;
    z-index: 0;
  }

  &__content {
    display: flex;
    grid-column: 2/-1;
  }

  &__prev {
    @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none);
    font-family: var(--second-family);
    letter-spacing: -0.84px;
  }

  .heading-wrapper {
    grid-column: 1/-1;
  }

  .result-heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .wrapper-cubak {
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: fluid(69px, 293px);
    height: fluid(49px, 193px);
    z-index: -1;
  }
}

@include respond-min(768px) {
  .hero-result {
    padding-top: 96px;

    &__content {
      justify-content: space-between;
    }
  }
}

@include respond-min(1024px) {
  .hero-result {
    padding-top: 119px;

    &__container {
      padding-block: 130px 158px;
      row-gap: 32px;
    }
    &__content {
      gap: 34px;
      z-index: 1;
    }

    &__prev {
      max-width: 448px;
    }

    .heading-wrapper {
      z-index: 1;
    }
    .result-heading {
      gap: fluid(10px, 20px);
    }
  }
}
