@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.includedService {
  background-color: var(--bg-black);
  color: var(--text-white);
  padding-block: fluid(80px, 150px, 360px, 768px);

  @include respond-min(1024px) {
    padding-block: fluid(152px, 190px);
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__titleAndSubtitle-container {
    margin-bottom: 20px;

    @include respond-min(1024px) {
      margin-bottom: 40px;
      display: grid;
      grid-template-columns: 0.35fr 1fr;
    }
  }

  &__title {
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;

    @include respond-min(768px) {
      grid-template-columns: 1fr 1fr;
      position: relative;
      row-gap: 20px;
    }
    @include respond-min(1024px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
    }
  }

  &__item {
    position: relative;
    @include typography(var(--text-white), 500, fluid(18px, 24px, 360px, 768px), 1.2);
    text-transform: uppercase;
    padding-block: 10px;
    padding-right: 10px;
    border-bottom: 1px solid var(--vector-deep-gray);

    @include respond-min(1024px) {
      font-size: fluid(28px, 42px);
      line-height: 1;
    }

    @include respond-min(768px) {
      display: flex;
      align-items: flex-end;
      min-height: 226px;

      &::before {
        content: '';
        display: none;
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: var(--text-white);
        z-index: 2;
        top: -2.5px;
        right: -2.5px;
        left: auto;
        transform: none;
      }

      &:nth-child(odd) {
        border-right: 1px solid var(--vector-deep-gray);
        &::before {
          display: block;
        }
      }

      &:nth-child(even) {
        border-right: none;
        padding-left: 10px;
        &::before {
          display: none;
        }
      }
    }

    @include respond-min(1024px) {
      min-height: 346px;
      padding-left: 10px;
      padding-bottom: 20px;

      &:nth-child(odd) {
        border-right: none;
      }

      &:nth-child(3n + 1) {
        border-right: 1px solid var(--vector-deep-gray);
        &::before {
          display: block;
        }
      }

      &:nth-child(3n + 2) {
        border-right: 1px solid var(--vector-deep-gray);
        &::before {
          display: block;
        }
      }

      &:nth-child(3n) {
        &::before {
          display: none;
        }
      }
    }
  }
}
