@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

$contact-areas: phone, address, work-time, mail, social;
$large-screen-bottom-padding: 190px;

.contacts {
  padding-top: 119px;
  background-color: var(--bg-black);
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'phone'
      'address'
      'work-time'
      'mail'
      'social'
      'map';
    padding: 20px 10px;
    gap: 20px;

    h1 {
      width: 100%;
      @include respond-min(768px) {
        width: 90%;
      }
      @include respond-min(1024px) {
        width: 70%;
      }
      justify-self: center;
    }

    .contacts__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      margin-top: 20px;
    }

    .contacts__title {
      grid-area: title;
      text-align: center;
    }

    .contacts__item {
      background-color: var(--bg-deep-gray);
      padding: 15px;
      min-height: 120px;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      position: relative;
      @include clip-shape();
      @include item-decor(var(--vector-deep-gray));
      .contact__link {
        &:hover {
          transition: color 0.2s;
          color: var(--text-deep-gray);
        }
      }

      @include respond-min(768px) {
        min-height: 218px;
      }

      .contacts-title-text {
        font-family: var(--second-family);
        margin: 0;
        @include typography(var(--text-gray), 500, fluid(14px, 22px), 1.1, none, -0.06em);
      }

      .social-link {
        margin-top: auto;
        @include typography(
          var(--text-white),
          600,
          fluid(18px, 28px, 360px, 768px),
          1.2,
          uppercase,
          -0.06em
        );
      }

      address,
      a,
      p {
        margin-top: auto;
        @include typography(
          var(--text-white),
          600,
          fluid(18px, 28px, 360px, 768px),
          1.2,
          uppercase,
          -0.06em
        );

        span {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
      .contacts-title-mobile {
        @include typography(var(--text-white), 600, fluid(22px, 36px, 360px, 768px), 1);
      }
    }

    .social {
      a {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }

    .work-time {
      white-space: pre-line;
    }

    .contacts__map-iframe {
      width: 100%;
      height: fluid(240px, 520px);
    }
  }
}

@include respond-min(768px 1022px, between) {
  .contacts {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'title title'
        'phone phone'
        'address work-time'
        'mail social'
        'map map';
      gap: 20px;

      .contacts__list {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          'phone phone'
          'address work-time'
          'mail social';
        gap: 15px;
        margin-top: 20px;
      }

      .contacts__item {
        @each $area in $contact-areas {
          &.#{$area} {
            grid-area: #{$area};
          }
        }
      }

      .contacts__map-iframe {
        grid-area: map;
        margin-top: 0;
      }
    }
  }
}

@include respond-min(1023px) {
  .contacts {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'title title'
        'contacts map';
      gap: 40px;
      padding-bottom: $large-screen-bottom-padding;

      .contacts__title {
        grid-area: title;
      }

      .contacts__list {
        grid-area: contacts;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          'phone phone'
          'address work-time'
          'mail social';
        gap: 20px;
        margin-top: 0;
      }

      .contacts__item {
        .contacts-title-mobile {
          font-size: fluid(22px, 42px);
        }
        @each $area in $contact-areas {
          &.#{$area} {
            grid-area: #{$area};
          }
        }
      }

      .contacts__map-iframe {
        grid-area: map;
        margin-top: 0;
        height: 100%;
      }
    }
  }
}
