@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.favorites-project {
  // padding: 10px;
  margin-top: 100px;

  &__container {
    display: grid;
    gap: 8px;
  }

  &__title {
    position: relative;
    margin-bottom: 10px;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  &__item {
    padding-bottom: 8px;
    border-bottom: var(--vector-light-gray) solid 1px;

    .favorites-project__img {
      aspect-ratio: 4/3;
      @include item-decor(var(--text-black), fluid(12px, 20px));
      display: inline-flex;
      @include clip-shape();
      filter: grayscale(1);

      &:hover {
        &::before,
        &::after {
          transition: background-color 0.2s ease;
          background-color: var(--text-white);
        }
        transition: filter 0.2s ease;
        filter: grayscale(0);
      }
    }

    .item__prev {
      font-family: var(--second-family);
      @include typography(var(--text-deep-gray), 500, fluid(14px, 22px), 1.1, none);
    }
  }

  .item__small-title {
    @include typography(var(--text-black), 500, fluid(18px, 28px, 360px, 768px), 1.15);
  }
}

@include respond-min(1024px) {
  .favorites-project {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        height: 90%;
        width: 1px;
        left: 50%;
        bottom: 0;
        background-color: var(--vector-light-gray);
      }

      &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 96%;
        left: 2%;
        bottom: 0;
        background-color: var(--vector-light-gray);
      }
    }

    &__title {
      grid-column: 1/-1;
      grid-row: 1/2;
    }

    &__item {
      border-bottom: unset;
      padding-bottom: 20px;
      position: relative;

      .favorites-project__img {
        aspect-ratio: 4/3;
        width: 100%;
        overflow: hidden;

        &::after,
        &::before {
          margin: 7px;
          background-color: var(--vector-deep-gray);
        }
      }

      .favorites-project__img-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:only-of-type {
        grid-column: 1/-1;
        grid-row: 2/3;

        .favorites-project__img {
          aspect-ratio: 2.3/1;
        }

        .favorites-project__wrapper {
          position: absolute;
          bottom: 40px;
          left: 40px;
          transform: translate(-30px, 0);
          max-width: 480px;
          z-index: 2;
        }
      }

      &:first-of-type:not(:only-of-type) {
        grid-column: 1/-1;
        grid-row: 2/3;
        padding-bottom: 0;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 1px;
          bottom: -20px;
          left: 0;
          background-color: var(--vector-light-gray);
        }

        .favorites-project__img {
          aspect-ratio: 2/1;
        }
      }

      &:nth-of-type(2) {
        grid-column: 1/2;
        grid-row: 3/4;
      }

      &:last-of-type:not(:first-of-type):not(:nth-of-type(2)) {
        grid-column: 2/-1;
        grid-row: 3/4;
      }
    }

    &__wrapper {
      position: absolute;
      @include clip-shape();
      width: 480px;
      min-height: 118px;
      transform: translate(10px, -132px);
      padding: 15px;
      background-color: var(--bg-white);
    }

    .item__prev {
      @include typography(var(--text-deep-gray), 500, fluid(14px, 22px), 1.1, none);
      font-family: var(--second-family);
    }
  }
}
