@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.favorites-project {
  padding: 10px;
  margin-top: 100px;

  &__container {
    display: grid;
    gap: 8px;
  }

  &__title {
    position: relative;
    margin-bottom: 10px;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  &__item {
    padding-bottom: 8px;
    border-bottom: var(--vector-light-gray) solid 1px;

    .favorites-project__img {
      @include item-decor(var(--text-black), fluid(12px, 20px));
      display: inline-flex;
      @include clip-shape();
      filter: grayscale(1);

      &:hover {
        &::before,
        &::after {
          transition: background-color 0.2s ease;
          background-color: var(--text-white);
        }
        transition: filter 0.2s ease;
        filter: grayscale(0);
      }
    }

    .item__prev {
      font-family: var(--second-family);
      @include typography(var(--text-deep-gray), 500, fluid(14px, 22px), 1.1, none);
    }
  }

  .item__small-title {
    color: var(--text-black);
  }
}

@include respond-min(1024px) {
  .favorites-project {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    &__title {
      grid-column: 1/-1;
      grid-row: 1/2;
    }

    &__item {
      border-bottom: unset;
      padding-bottom: 20px;
      position: relative;

      .favorites-project__img {
        max-height: 733px;
        width: 100%;

        &::after,
        &::before {
          margin: 7px;
          background-color: var(--vector-deep-gray);
        }
      }

      // Если элемент один - растягиваем на всю ширину
      &:only-of-type {
        grid-column: 1/-1;
        grid-row: 2/3;
      }

      // Если элементов больше одного
      &:first-of-type:not(:only-of-type) {
        grid-column: 1/-1;
        grid-row: 2/3;
      }

      &:nth-of-type(2) {
        grid-column: 1/2;
        grid-row: 3/4;
      }

      &:last-of-type:not(:first-of-type):not(:nth-of-type(2)) {
        grid-column: 2/-1;
        grid-row: 3/4;
      }
    }

    &__wrapper {
      position: absolute;
      @include clip-shape();
      width: 480px;
      min-height: 118px;
      transform: translate(10px, -132px);
      padding: 15px;
      background-color: var(--bg-white);
    }

    .item__prev {
      @include typography(var(--text-deep-gray), 500, fluid(14px, 22px), 1.1, none);
      font-family: var(--second-family);
    }
  }
}
