@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.advertising {
  position: relative;
  background-color: var(--bg-black);
  min-height: 322px;
  display: flex;
  align-items: center;
  &__container {
    padding-inline: 0.625rem;
  }
  &.with-trapezoids {
    @include trapezoid-decor($config: 'small');
  }
  &__title {
    position: relative;
    margin-bottom: 10px;
  }
  &__subtitle-wrapper {
    margin-bottom: 20px;
  }
  &__subtitle {
    &-line1 {
      display: block;
      color: var(--text-white);
    }
    &-line2 {
      display: block;
      color: var(--text-deep-gray);
    }

    &-desktop-word {
      display: none;
    }

    &-mobile-word {
      display: inline;
    }

    &--break {
      display: inline;
    }
  }
  img {
    width: fluid(100px, 150px);
    height: fluid(50px, 80px);
  }
}
.continuous-scroll-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.continuous-scroll-wrapper {
  display: flex;
  animation: continuousScroll 20s linear infinite;
  width: fit-content;
  &:hover {
    animation-play-state: paused;
  }
}
.continuous-slide {
  position: relative;
  min-height: fluid(96px, 146px);
  width: fluid(144px, 251px);
  background-color: var(--bg-deep-gray);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
  @include clip-shape();

  @include item-decor(var(--text-white), fluid(12px, 20px));
  svg {
    width: 100%;
    height: auto;
    max-width: fluid(144px, 251px);
    max-height: fluid(50px, 80px);
  }
  &:hover {
    background-color: var(--bg-white);
    svg path {
      fill: var(--vector-black);
    }
    &::before {
      background-color: var(--vector-deep-gray);
    }
    &::after {
      background-color: var(--vector-deep-gray);
    }
  }
}
@keyframes continuousScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@include respond-min(768px) {
  .advertising {
    &.with-trapezoids {
      @include trapezoid-decor($config: 'medium');
    }
  }
}

@include respond-min(1024px) {
  .advertising {
    padding-bottom: 60px;
    padding-top: 100px;

    &__subtitle-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }

    &__subtitle {
      text-align: left;

      &-line1 {
        display: block;
        color: var(--text-white);
      }

      &-line2 {
        display: block;
        color: var(--text-white);
      }

      &-desktop-word {
        display: inline;
      }

      &-mobile-word {
        display: none;
      }

      &--break {
        display: inline;
      }
    }
  }
}

@include respond-min(1280px) {
  .advertising {
    &.with-trapezoids {
      @include trapezoid-decor($config: 'large');
    }
  }
}

@include respond-min(1380px) {
  .advertising {
    &.with-trapezoids {
      @include trapezoid-decor($config: 'xlarge');
    }
  }
}
