@use '../../shared/styles/functions' as *;
@use '../../shared/styles/mixins' as *;

.advertising {
  position: relative;
  background-color: var(--bg-black);
  min-height: 322px;
  display: flex;
  align-items: center;

  &__container {
    padding-inline: 0.625rem;
  }

  &.with-trapezoids {
    @include trapezoid-decor(21px, 12px, var(--bg-black), both);
  }

  &__title {
    position: relative;
    margin-bottom: 10px;
    // @include bracket-decor(
    //   var(--text-light-gray),
    //   (
    //     top: -2px,
    //     left: 0,
    //   )
    // );
  }

  &__subtitle {
    // @include typography(var(--text-white), 500, fluid(31px, 68px), 1);
    margin-bottom: 20px;
    span {
      color: var(--text-deep-black);
    }
  }

  img {
    width: fluid(100px, 150px);
    height: fluid(50px, 80px);
  }

  .advertising__decoration {
    @include decoration(
      var(--text-black),
      1.5rem,
      '/img/kvadrat.svg',
      (
        top: -1px,
        right: -1px,
      )
    );
  }
}

.continuous-scroll-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.continuous-scroll-wrapper {
  display: flex;
  animation: continuousScroll 20s linear infinite;
  width: fit-content;
}

.continuous-slide {
  position: relative;
  min-height: fluid(96px, 146px);
  width: fluid(144px, 251px);
  background-color: var(--bg-deep-gray);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;

  @include item-decor(var(--text-white));

  svg {
    width: 100%;
    height: auto;
    max-width: fluid(144px, 251px);
    max-height: fluid(50px, 80px);
  }

  &:hover {
    background-color: var(--bg-white);

    svg path {
      fill: var(--vector-black);
    }
  }

  &:hover::before {
    background-color: var(--vector-deep-gray);
  }

  &:hover::after {
    background-color: var(--vector-deep-gray);
  }
}

.continuous-scroll-wrapper:hover {
  animation-play-state: paused;
}

@keyframes continuousScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@include respond-min(1024px) {
  .advertising {
    padding-bottom: 60px;
    padding-top: 100px;
    .advertising__subtitle-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    &__subtitle {
      margin-bottom: 60px;
      .advertising__subtitle--break {
        display: block;
      }
      span {
        color: var(--text-white);
      }
    }

    &.with-trapezoids {
      @include trapezoid-decor(56px, 33px, var(--vector-black), both, 1030px, -32px);
    }
  }
}
