@use "../../shared/styles/functions";
@use "../../shared/styles/mixins";

.favorites-project {
  padding: 10px;
  margin-top: 100px;
  .favorites-project__container {
	display: grid;
	gap: 8px;
  }
	&__title {
	  position: relative;
	  margin-bottom: 10px;
	  @include bracket-decor(#4d4d4d, (top: -1px, left: 0));
	}
  
  &__item {
	border-bottom: #dfdfdf solid 1px;
	.favorites-project__img {
	  @include item-decor();
	  display: inline-flex;
	  .favorites-project__decoration {
		@include decoration(var(--text-white), 25px);
	  }
	}
	
	h4 {
	  margin: 2px 0;
	  @include typography(var(--text-black), 500, 18px, 1.15);
	}
	
	p {
	  font-family: var(--second-family);
	  @include typography(#4d4d4d, 500, 14px, 1.1, none);
	  margin-bottom: 8px;
	}
  }
}