@use '../../shared/styles/functions' as *;
@use '../../shared/styles/mixins' as *;

.favorites-project {
  padding: 10px;
  margin-top: 100px;
  &__container {
    display: grid;
    gap: 8px;
  }
  &__title {
    @include bracket-decor(
      #4d4d4d,
      (
        top: -1px,
        left: 0,
      )
    );
    position: relative;
    margin-bottom: 10px;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  &__item {
    padding-bottom: 8px;
    border-bottom: #dfdfdf solid 1px;

    .favorites-project__img-item:first-of-type {
      filter: grayscale(1);
    }

    .favorites-project__img {
      @include item-decor();
      display: inline-flex;
      .favorites-project__decoration {
        @include decoration(var(--text-white), 25px);
      }
    }

    .item__small-title {
      @include typography(var(--bg-black), 500, fluid(20px, 28px), 115%);
    }

    .item__prev {
      font-family: var(--second-family);
      @include typography(var(--text-deep-gray), 500, fluid(14px, 22px), 1.1, none);
    }
  }
}

// deckstop

@include respond-min(1024px) {
  .favorites-project {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    &__title {
      grid-column: 1/-1;
      grid-row: 1/2;
    }
    &__item {
      border-bottom: unset;
      padding-bottom: 20px;
      position: relative;
      &:first-of-type {
        grid-column: 1/-1;
        grid-row: 2/3;
        .favorites-project__img-item {
          filter: none;
        }
      }
      &:nth-of-type(2) {
        grid-column: 1/2;
        grid-row: 3/4;
      }
      &:last-of-type {
        grid-column: 2/-1;
        grid-row: 3/4;
      }
    }
    &__wrapper {
      position: absolute;
      clip-path: polygon(
        0% 0%,
        calc(100% - 40px) 0%,
        calc(100% - 40px) 20px,
        calc(100% - 20px) 20px,
        calc(100% - 20px) 40px,
        100% 40px,
        100% 100%,
        0% 100%
      );
      width: 480px;
      min-height: 118px;
      transform: translate(10px, -132px);
      padding: 15px;
      background-color: var(--bg-white);
    }
    .item__small-title {
      @include typography(var(--bg-black), 500, fluid(20px, 28px), 1.15);
    }

    .item__prev {
      @include typography(var(--text-deep-gray), 500, fluid(14px, 22px), 1.1, none);
      font-family: var(--second-family);
    }
  }
}
