@use "../../shared/styles/functions" as *;
@use "../../shared/styles/mixins" as *;

.favorites-project {
  padding: 10px;
  margin-top: 100px;
  .favorites-project__container {
	display: grid;
	gap: 8px;
  }
	&__title {
	  @include bracket-decor(#4d4d4d, (top: -1px, left: 0));
	  position: relative;
	  margin-bottom: 10px;
	  grid-column: 1/-1;
	  grid-row: 1/2;
	}
  
  &__item {
	border-bottom: #dfdfdf solid 1px;
	.favorites-project__img {
	  @include item-decor();
	  display: inline-flex;
	  .favorites-project__decoration {
		@include decoration(var(--text-white), 25px);
	  }
	}
	
	h4 {
	  margin: 2px 0;
	  @include typography(var(--text-black), 500, 18px, 1.15);
	}
	
	p {
	  font-family: var(--second-family);
	  @include typography(#4d4d4d, 500, 14px, 1.1, none);
	  margin-bottom: 8px;
	}
  }
}

// deckstop

@include respond-min(1024) {
	.favorites-project {
		&__container {
			grid-template-columns: repeat(2, 1fr);
	        grid-template-rows: auto;
		}
		&__title {
	        grid-column: 1/-1;
	        grid-row: 1/2;
	    }
		&__item {
	        border-bottom: #dfdfdf solid 1px;
	        &:first-of-type {
              grid-column: 1/-1;
	          grid-row: 2/3;
            }
	        &:nth-of-type(2) {
	          grid-column: 1/2;
	          grid-row: 3/4;
	        }
	        &:last-of-type {
	          grid-column: 2/-1;
	          grid-row: 3/4;
	        }
		}
	}
}