@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.services-hero {
  background-color: var(--bg-black);
  position: relative;
  overflow: hidden;
  padding-top: 79px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 611px;
    min-height: 611px;
    position: relative;
    z-index: 1;
    @include decor-pseudo-elements();
  }

  &__video-in-container {
    padding-inline: fluid(10px, 50px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('/img/services-hero-poster.jpg') center/cover no-repeat;
      z-index: -1;
    }
  }

  &__video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: translateZ(0);
    backface-visibility: hidden;
    &--mobile {
      top: -26px;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: none;
    }
  }

  .wrapper-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('/img/services-title-bg-360.webp');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: fluid(360px, 1820px);
    height: fluid(140px, 271px);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }

  .heading {
    position: relative;
    z-index: 3;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    svg {
      width: fluid(320px, 1304px);
      height: fluid(51px, 193px);
    }
  }
}

@include respond-min(768px) {
  .services-hero {
    padding-top: 116px;
    &__container {
      height: 800px;
      min-height: 800px;
    }
    &__video {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }
    .wrapper-title {
      align-items: center;
      background-image: url('/img/services-title-bg-768.svg');
      height: fluid(272px, 539px);
    }
  }
}

@include respond-min(1280px) {
  .services-hero {
    padding-top: 119px;
    &__container {
      height: 956px;
      min-height: 956px;
    }

    &__video {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }

    .wrapper-title {
      background-image: url('/img/services-title-bg.webp');
    }
  }
}
