@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.products__item {
  padding: 15px 10px 10px 10px;
  border: 1px solid var(--text-light-gray);
  background-color: var(--bg-light-gray);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  @include item-decor(var(--vector-deep-gray), fluid(12px, 20px));

  @include respond-min(1023px, max) {
    &:last-child:nth-child(odd) {
      grid-column: 1 / -1;
      justify-self: center;
      max-width: 50%;
      margin: 0 auto;
    }
  }
}

.products__img {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.products__title {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: auto;
  span {
    @include typography(var(--text-gray), 500, fluid(10px, 22px), 0.4, uppercase, -0.05em);
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 0px;
    right: -3px;
  }

  h5 {
    color: var(--text-black);
  }
}
