@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.products__item {
  padding: 15px 10px 10px;
  border: 1px solid var(--text-light-gray);
  background-color: var(--bg-light-gray);
  display: flex;
  flex-direction: column;
  position: relative;
  @include item-decor(var(--vector-deep-gray), fluid(12px, 20px));
  min-width: 170px;
  min-height: 170px;

  @include respond-min(768px) {
    min-width: 364px;
    min-height: 364px;
  }

  @include respond-min(1024px) {
    min-width: 455px;
    min-height: 455px;
  }

  @include respond-min(1023px, max) {
    &:last-child:nth-child(odd) {
      grid-column: 1 / -1;
      justify-self: center;
      max-width: 50%;
      margin: 0 auto;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    &:hover {
      transform: scale(1.02);
      transition: all 0.2s;
    }
  }
}

.products__img {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;

  img {
    object-fit: contain;
    object-position: center;
    width: 100% !important;
    height: auto !important;
    position: relative !important;
    max-height: 100%;
  }
}

.products__title {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    @include typography(var(--text-gray), 500, fluid(10px, 22px), 0.4, uppercase, -0.05em);
    position: absolute;
    top: 0;
    right: -3px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
  }

  h5 {
    color: var(--text-black);
    transition: color 0.2s ease;
  }
}
