@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.hero {
  &.with-trapezoids {
    @include trapezoid-decor(21px, 12px, black, bottom);
  }
  position: relative;
  background-color: var(--bg-black);
  margin-bottom: -1px;

  &__video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  &--mobile {
    top: -59px;
  }
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}
}

.hero__container {
  // @include line-decor(1% 50% 99%);
  position: relative;
  padding-block: 134px 21px;
  flex-direction: column;
  gap: fluid(40px, 158px);
  z-index: 0;
}

.hero__title::after {
  z-index: 2;
}

.heading {
  order: 3;
}

.hero__subtitle {
  max-width: 80%;
}

.hero__content {
  order: 2;
  margin-bottom: 80px;
  gap: 51px;
}

.hero__prev {
  @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none);
  font-family: var(--second-family);
  letter-spacing: -0.84px;
  width: fluid(164px, 448px);
}

@include respond-min(768px) {
  .hero {
    &__container {
      padding-block: 279px 20px;
    }
    &__video {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: block;
        top: -96px;
      }
    }

    &__subtitle {
      max-width: 55%;
    }

    &__content {
      justify-content: space-between;
    }
  }
}

@include respond-min(1024px) {
  .hero {
    &.with-trapezoids {
      @include trapezoid-decor(56px, 33px, black, bottom, 1030px, -32px);
    }
    &__video {
      &--tablet {
        display: none;
      }

      &--desktop {
        position: absolute;
        top: -119px;
        display: block;
      }
    }
    
    &__container {
      // @include line-decor(0.5% 25.4% 50% 74.6% 99%);
      display: grid;
      padding-block: 382px 67px;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
    }
    &__content {
      flex-direction: column;
      gap: 34px;
      margin-bottom: unset;
      z-index: 1;
    }
    .heading {
      z-index: 1;
      grid-column: 1/3;
      letter-spacing: -21.87px;
    }
  }
}
