@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.wrapper-modal {
  @include line-decor(0.5% 25.4% 50% 74.6% 99%, var(--vector-light-gray));
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  min-height: 337px;
  z-index: 0;
  top: 119px;

  .nav-modal--items {
    display: flex;
    gap: 60px;
  }

  .service-image {
    @include clip-shape();
    position: relative;
    width: 100%;
    height: 173px;
    max-width: 200px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    img {
      object-fit: contain;
    }
  }
}

.nav-modal {
  &__btn {
    color: var(--text-black);
    transition: all 0.2s ease-in-out;
    &.selected {
      background-color: var(--bg-black);
      color: var(--text-white);
    }

    &.unselected {
      color: var(--text-gray);
      opacity: 0.6;
    }
  }

  &__list--items .selected {
    background-color: var(--bg-black);
    color: var(--text-white);
  }
}

body:has(.wrapper-modal) .nav__link.hovered::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -5px;
  bottom: -4px;
  right: -5px;
  background-color: var(--text-black);
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
}
