@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.description {
  padding-top: 60px;
  background-color: var(--bg-black);

  padding-bottom: fluid(100px, 152px, 360px, 768px);
  @include respond-min(1024px) {
    padding-bottom: fluid(152px, 190px);
  }

  &__title {
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  &__subtitle {
    @include typography(
      var(--text-white),
      600,
      fluid(36px, 42px, 360px, 768px),
      1,
      uppercase,
      -1.32px
    );

    span {
      color: var(--text-deep-gray);
    }
  }

  &__title-description {
    margin-bottom: 40px;
    p {
      margin-top: 20px;
    }
    font-family: var(--second-family);
    @include typography(var(--text-light-gray), 500, fluid(14px, 22px, 360px, 768px), 1.1, none);
  }

  &-button-container {
    display: flex;
    justify-content: center;
  }
}

@include respond-min(767px) {
  .description {
    &__title-description {
      display: flex;
      gap: 10px;

      .description__title-one {
        width: 50%;
      }
      .description__title-two {
        width: 50%;
      }
    }
  }
}

@include respond-min(1024px) {
  .description {
    &__wrapper {
      margin: 0 auto;
      width: 54%;
    }
    &__title-wrapper {
      display: grid;
      grid-template-columns: 0.3fr 1fr;
    }

    &__title-description {
      margin-bottom: 40px;
    }

    &__subtitle {
      width: 90%;
    }

    &-button-container {
      justify-content: flex-start;
    }
  }
}
