@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.description {
  background-color: var(--bg-black);
  position: relative;
  z-index: 1;

  &__container {
    padding-bottom: fluid(100px, 152px, 360px, 768px);
    @include respond-min(1024px) {
      padding-bottom: fluid(152px, 190px);
    }
    @include line-decor(2% 50% 98%);
    @include respond-min(768px) {
      @include line-decor(1% 50% 99%);
    }
    @include respond-min(1380px) {
      @include line-decor(1% 25.4% 50% 74.6% 99%);
    }
  }

  &__title {
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  &__title-one,
  &__title-two {
    white-space: pre-line;
  }

  &__subtitle {
    @include typography(
      var(--text-white),
      600,
      fluid(36px, 42px, 360px, 768px),
      1,
      uppercase,
      -1.32px
    );

    span {
      color: var(--text-deep-gray);
    }
  }

  &__title-description {
    margin-bottom: 40px;
    p {
      margin-top: 20px;
    }
    font-family: var(--second-family);
    @include typography(var(--text-light-gray), 500, fluid(14px, 22px, 360px, 768px), 1.1, none);
  }

  &-button-container {
    display: grid;
    justify-content: center;
  }
}

@include respond-min(767px) {
  .description {
    &__title-description {
      display: flex;
      gap: 10px;

      &__title-one {
        width: 50%;
      }
      &__title-two {
        width: 50%;
      }
    }
  }
}

@include respond-min(1024px) {
  .description {
    &__title-wrapper {
      display: grid;
      grid-template-columns: 0.35fr 1fr;
    }

    &__title-description {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 0.9fr;
      margin-bottom: 40px;
    }

    &__title-one {
      grid-column: 2/3;
    }

    &__title-one,
    &__title-two {
      width: unset;
    }

    &__subtitle {
      width: 90%;
    }

    &-button-container {
      grid-template-columns: 1fr 1fr 1fr 0.9fr;
      button {
        grid-column: 2/3;
        padding-inline: 104px;
      }
    }
  }
}
