@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

// Мобильная версия
.project-menu-item {
  margin-top: 4px;
  border-bottom: 1px solid var(--vector-light-gray);
  cursor: pointer;
  padding: 15px 0;

  &:first-child {
    border-top: 1px solid var(--vector-light-gray);
  }

  .project-menu-item__content {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .project-menu-item__client {
    font-family: var(--second-family);
    @include typography(var(--text-deep-black), 500, fluid(14px, 22px), 1.1, none);
  }

  .project-menu-item__subtitle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include typography(var(--text-black), 500, 18px, 1.15);

    p {
      @include typography(var(--text-black), 500, fluid(18px, 28px), 1.15);
    }
  }

  .project-menu-item__service-label {
    font-family: var(--second-family);
    @include typography(var(--text-deep-black), 500, fluid(14px, 22px), 1.1, none);
  }

  .project-menu__active-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      font-family: var(--second-family);
      @include typography(var(--text-light-gray), 500, fluid(14px, 22px), 1.1, none);
    }
  }
}

.project-menu-item__arrow {
  transform: rotate(90deg);
  flex-shrink: 0;
  margin-right: 4px;
  width: 12px;
  height: 15px;
}

.active .project-menu-item__arrow {
  transform: rotate(-90deg);
}

// Desktop версия
@include respond-min(1300px) {
  .project-menu-item {
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid var(--vector-light-gray);
    border-top: none;

    .project-menu__active-wrapper {
      padding: 5px;
    }

    &:first-child {
      border-top: none;
    }

    .project-menu-item__content {
      display: block;
      min-height: 40px;
      padding: 10px 5px;
      transition:
        background-color 0.3s,
        color 0.3s;
    }

    // Hover и активное состояние
    &:is(.hovered, .project-menu--active) {
      padding-top: 0;
      .project-menu-item__content {
        background-color: var(--bg-black);
        color: var(--text-white);
      }

      .project-menu-item__subtitle {
        .project-menu-item__subtitle-title {
          color: var(--text-white);
        }
      }
    }

    .project-menu-item__subtitle {
      .project-menu-item__subtitle-title {
        color: var(--text-gray);
        padding-left: 0;
      }
    }

    // Скрываем лейблы на desktop
    .service-label--services {
      display: none;
    }

    // Скрываем стрелку на desktop
    .project-menu-item__arrow {
      display: none;
    }

    // Скрываем картинку на desktop (она показывается в колонке с номерами)
    .project-menu__image--active {
      display: none;
    }
  }
}
