// AboutScroll.scss
.hero-scroll-section {
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: var(--bg-black);
}

.sticky-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block {
  width: 100%;
  height: 50vh;
  background-color: var(--bg-black);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  flex-shrink: 0;
}

.top-block {
  align-items: flex-end;
}

.bottom-block {
  flex-direction: column;
  justify-content: flex-start;
  gap: 17px;
  &__desc {
    font-size: 28px;
    line-height: 115%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
  }
}

.aboutUs__img-wrapperScroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}