@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

body:has(.products-page-section) {
  .products {
    margin-top: 0;
    padding-top: fluid(100px, 190px);
    background-color: var(--bg-black);
  }
  .products-page-section__container {
    p {
      display: none;
      margin-top: auto;
    }
  }
  .products-title {
    display: none;
  }
  .products__item {
    background-color: var(--bg-white);
  }
  .products-subtitle {
    display: inline-flex;
    @include typography(var(--text-white), 600, fluid(22px, 42px), 1);
  }
  .products-page-section__title {
    display: inline-block;
    margin-top: auto;
  }
  @include respond-min(1024px) {
    .products-page-section__container {
      p {
        display: block;
      }
    }
    .products-subtitle {
      display: none;
    }
  }
}

.products-page-section {
  min-height: 100vh;
  background: var(--bg-black) url('/img/products-pages-img.webp') center top / cover no-repeat;
  padding-top: 118px;
  @include decor-pseudo-elements(
    $color: var(--text-black),
    $after-top: auto,
    $after-bottom: 0,
    $after-transform: scaleX(1),
    $before-top: auto,
    $before-bottom: 0,
    $before-transform: scaleX(-1)
  );

  .products-page-section__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    min-height: 100vh;

    h1 {
      display: flex;
      justify-self: flex-start;
      margin-top: auto;
    }
    p {
      display: inline-flex;
      white-space: pre-line;
      @include typography(
        var(--text-white),
        500,
        fluid(22px, 28px, 360px, 768px),
        1.15,
        uppercase,
        -0.06em
      );
    }
  }
}
