@use '../../shared/styles/functions' as *;
@use '../../shared/styles/mixins' as *;

.services {
  &.with-top-trapezoid {
    @include trapezoid-decor(21px, 12px, black, top);
  }

  &.with-bottom-trapezoid {
    @include trapezoid-decor(21px, 12px, black, bottom);
  }
  position: relative;
  background-color: var(--bg-black);
  z-index: 0;

  &__container {
    padding-block: 5.5rem 6.313rem;
  }

  &__wrapper-title {
    padding-bottom: 0.625rem;
    border-bottom: 1px solid var(--vector-almost-black);
  }

  &__title {
    @include bracket-decor();
    @include typography(var(--text-light-gray), 700, fluid(14px, 22px));
    letter-spacing: -0.053em;
  }
  &__list {
    counter-reset: card;
    flex-direction: column;
    gap: 0.5rem;
  }
  .item {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--vector-almost-black);
    &__btn {
      width: 25px;
      height: 20px;
      transform: rotate(90deg);
    }

    &__inner {
      position: relative;
      justify-content: space-between;
      padding: 1.25rem 0 1.25rem 1.25rem;
      &::before {
        @include typography(var(--text-gray), 500, fluid(10px, 22px), 0.4);
        counter-increment: card;
        content: '[' counter(card) ']';
        position: absolute;
        top: 1.5rem;
        left: 0;
        letter-spacing: -0.031rem;
      }
    }

    &__subtitle {
      @include typography(var(--text-white), 500, fluid(31px, 68px), 1);
      letter-spacing: -2.17px;
    }
  }

  .hidden {
    display: none;
  }

  .swiper-slide {
    min-height: 96px;

    &::after {
      content: '';
      margin: 3px;
      width: 10px;
      height: 10px;
    }

    &::before {
      content: '';
      margin: 3px;
      transform: rotate(180deg);
      width: 10px;
      height: 10px;
    }
  }
}

// deckstop
@include respond-min(1024px) {
  .services {
    &.with-top-trapezoid {
      @include trapezoid-decor(56px, 33px, black, top, 1030px, -32px);
    }

    &.with-bottom-trapezoid {
      @include trapezoid-decor(56px, 33px, black, bottom, 1030px, -32px);
    }
  }
}
