@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.services {
  &.with-trapezoids {
    @include trapezoid-decor(21px, 12px, black, both);
  }
  position: relative;
  background-color: var(--bg-black);
  z-index: 0;

  &__container {
    padding-block: 5.5rem 6.313rem;
  }

  &__wrapper-title {
    padding-bottom: 0.625rem;
    border-bottom: 1px solid var(--vector-almost-black);
  }

  &__title {
    letter-spacing: -0.053em;
  }
  &__list {
    counter-reset: card;
    flex-direction: column;
  }
  .item {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--vector-almost-black);
    &__btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: all 0.3s ease;
      span {
        @include typography(var(--text-white), 500, fluid(31px, 68px),  1, uppercase, -2.17px);
        padding: 8px;
      }
      &--active span {
        background-color: var(--bg-white);
        color: var(--text-black);
      }
      .service-icon {
        transform: rotate(90deg);
      }
      &--active .service-icon {
        transform: rotate(90deg) rotateY(180deg);
      }
      
    }

    &__inner {
      position: relative;
      justify-content: space-between;
      padding: 12px;
      &::before {
        @include typography(var(--text-white), 500, fluid(10px, 22px), 0.4);
        counter-increment: card;
        content: '[' counter(card) ']';
        position: absolute;
        top: fluid(24px, 53px);
        left: 0px;
        letter-spacing: -0.031rem;
      }
    }

    &__subtitle {
      padding: 8px;
      letter-spacing: -2.17px;
    }
  }

  .hidden, .desktop-only {
    display: none;
  }

}

// deckstop
@include respond-min(1024px) {
  .services {
    &.with-trapezoids {
      @include trapezoid-decor(56px, 33px, black, both, 1030px, -32px);
    }
    &__list {
      display: flex;
      flex-direction: column;
    }

    .item {
      display: flex;
      justify-content: space-between;
      &__btn {
        border: none;
        background: var(--primary-color);
        border-radius: 50%;
        span {
          padding: 10px;
        }

        &--hovered span {
          background-color: var(--bg-white);
          color: var(--text-black);
        }

        &--other span {
          background-color: transparent;
          color: var(--text-gray);
        }
      }
      &__inner {
        padding: 20px;
        width: max-content;
        align-items: center;
        justify-content: space-between;
        background: var(--bg-secondary);
      } 
    }

    .selected svg {
      color: var(--text-white);
    }

    .services__sub-items {
      position: relative;
      width: 45%;
      padding-top: 25px;
    }

    .services__sub-item-image {
      position: absolute;
      top: 45px;
      left: -245px;
      width: 210px;
      height: 173px;
    }

    .desktop-only{display: block;}
    .mobile-only{display: none;}
  }
}











