@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.services {
  padding-block: fluid(100px, 152px, 360px, 768px);
  @include respond-min(1024px) {
    padding-block: fluid(152px, 190px);
  }
  &.with-trapezoids {
    @include trapezoid-decor();
  }
  position: relative;
  background-color: var(--bg-black);
  z-index: 0;

  &__wrapper-title {
    padding-bottom: 0.625rem;
    border-bottom: 1px solid var(--vector-almost-black);
  }

  &__title {
    letter-spacing: -0.053em;
  }
  &__list {
    counter-reset: card;
    flex-direction: column;
  }
  .item {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--vector-almost-black);
    &__btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: all 0.3s ease;
      span {
        @include typography(var(--text-white), 500, fluid(31px, 68px), 1, uppercase, -0.07em);
        padding: 8px;
      }
      &--active span {
        background-color: var(--bg-white);
        color: var(--text-black);
      }
      .service-icon {
        transform: rotate(90deg);
      }
      &--active .service-icon {
        transform: rotate(90deg) rotateY(180deg);
      }

      &:focus {
        outline: 2px solid var(--text-white);
        outline-offset: 2px;
      }

      &:focus:not(:focus-visible) {
        outline: none;
      }

      &:focus-visible {
        outline: 2px solid var(--text-white);
        outline-offset: 2px;
      }
    }

    &__inner {
      position: relative;
      justify-content: space-between;
      padding: 12px;
      &::before {
        @include typography(var(--text-white), 500, fluid(10px, 22px), 0.4);
        counter-increment: card;
        content: '[' counter(card) ']';
        position: absolute;
        top: fluid(24px, 53px);
        left: 0px;
        letter-spacing: -0.031rem;
      }
    }

    &__subtitle {
      padding: 8px;
      letter-spacing: -2.17px;
    }
  }

  .hidden,
  .desktop-only {
    display: none;
  }
}

@include respond-min(1280px) {
  .services {
    .item__btn {
      &--red {
        span {
          color: var(--text-gray) !important;
        }
      }
    }

    .Button-module-scss-module__EEeB0a__two {
      &.other-red {
        color: var(--text-deep-gray) !important;
      }
    }

    &__image {
      height: 173px;
      object-fit: cover;
    }
  }

  .services {
    &__list {
      display: flex;
      flex-direction: column;
    }

    .item {
      display: flex;
      justify-content: space-between;
      min-height: 295px;
      &__btn {
        border: none;
        background: var(--primary-color);
        span {
          padding: 10px;
        }

        &--hovered span {
          background-color: var(--bg-white);
          color: var(--text-black);
        }

        &--other span {
          background-color: transparent;
          color: var(--text-gray);
        }
      }
      &__inner {
        padding-left: 25px;
        width: max-content;
        align-items: center;
        justify-content: space-between;
        background: var(--bg-secondary);
      }
    }

    .selected svg {
      color: var(--text-white);
    }

    .services__sub-items {
      position: relative;
      width: 44%;
      padding-top: 25px;
    }

    .services__sub-item-image {
      @include clip-shape();
      position: absolute;
      top: 45px;
      left: -245px;
      width: 210px;
      height: 173px;
    }

    .selected:hover {
      color: var(--text-black);
      background-color: var(--bg-white);
    }

    .services__sub-item-info {
      width: 39%;
    }

    .services__desc-text {
      font-size: fluid(13px, 22px);
      color: var(--second-family);
      letter-spacing: -0.05em;
      font-weight: 500;
      line-height: 110%;
    }

    .desktop-only {
      display: block;
    }
    .mobile-only {
      display: none;
    }
  }
}
