@use 'variables' as vars;

@mixin typography($color: vars.$color-white, $weight: 500, $size: 1.125rem, $line: 120%, $transform: uppercase) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  letter-spacing: -0.06em;
  text-transform: $transform;
  color: $color;
}

@mixin respond-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin trapezoid-decor($width: 21px, $height: 12px, $color: #000, $position: center) {
    &::after {
        content: "";
        position: absolute;
        bottom: -$height;
        left: 50%;
        transform: translateX(-50%);
        width: 198px;
        height: 0;
        border-left: $width solid transparent;
        border-right: $width solid transparent;
        border-top: $height solid $color;
    }
}

@mixin bracket-decor($color: #FFF, $top: -2px, $left: -10px ) {
    &::after {
        content: "[";
        position: absolute;
        top: $top;
        left: $left;
    }
}

@mixin line-decor(
  $positions: 38.7% 50% 61.3%,
  $color: #212121,
  $thickness: 1px,
  $angle: 90deg
) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    
    $grads_str: '';
    @each $pos in $positions {
      $half: calc($thickness / 2);
      $g: linear-gradient(#{$angle}, transparent calc(#{$pos} - #{$half}), #{$color} calc(#{$pos} - #{$half}), #{$color} calc(#{$pos} + #{$half}), transparent calc(#{$pos} + #{$half}));
      @if $grads_str == '' {
        $grads_str: $g;
      } @else {
        $grads_str: #{$grads_str}, #{$g};
      }
    }
    background-image: #{$grads_str};
  }
}

