@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

// Варианты с CSS переменными
.variantDark {
  --heading-color: var(--text-light-gray);
  --heading-h3-color: var(--text-white);
  --heading-h4-color: var(--text-white);
  --heading-h5-color: var(--text-white);
}

.variantLight {
  --heading-color: var(--text-deep-gray);
  --heading-h3-color: var(--text-light-gray);
  --heading-h4-color: var(--text-black);
  --heading-h5-color: var(--text-black);
}

.level1 {
  @include typography(var(--text-white), 400, fluid(70px, 243px), 0.81, uppercase, -7px);
  order: 3;
  text-align: center;
  font-family: var(--second-family);
}

.level2 {
  @include bracket-decor();
  @include typography(var(--heading-color), 700, fluid(14px, 22px), 1.2, uppercase, -0.84px);
}

.level3 {
  @include typography(var(--heading-h3-color), 500, fluid(31px, 68px), 1, uppercase, -2.17px);
}

.level4 {
  @include typography(var(--heading-h4-color), 600, fluid(22px, 42px), 1, uppercase, -1.32px);
}

.level5 {
   @include typography(var(--heading-h5-color), 500, fluid(18px, 28px), 1.15);
}

@include respond-min(1024px) {
  .level1 {
    @include typography(var(--text-white), 400, fluid(70px, 243px), 0.81, uppercase, -21.87px);
  }

  .level2 {
    @include bracket-decor();
    @include typography(var(--heading-color), 700, fluid(14px, 22px), 1.2, uppercase, -1.32px);
  }

  .level3 {
    letter-spacing: -4.76px;
  }

  .level4 {
    @include typography(var(--heading-h4-color), 600, fluid(22px, 42px), 1, uppercase, -2.52px);
  }
}
