@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.documents-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.documents__title-container {
  position: relative;
  margin-left: 10px;
}

.button-container {
  display: flex;
  margin-bottom: 30px;
  margin-top: 10px;
}

.document__title {
  padding-left: 5px;
  flex: 1;
}

.documents-list {
  display: flex;
  flex-direction: column;

  > li:first-child .documents-list__item {
    border-top: 1px solid var(--vector-deep-gray);
  }

  .documents-list__item {
    display: flex;
    justify-content: space-between;
    padding-block: fluid(8px, 26px, 360px, 768px);

    @include respond-min(1024px) {
      padding-block: fluid(14px, 26px);
    }

    border-bottom: 1px solid var(--vector-deep-gray);

    cursor: pointer;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    span {
      @include typography(var(--text-black), 500, fluid(18px, 28px, 360px, 768px), 1.15);
    }

    svg {
      align-self: center;
      transition: color 0.2s ease;
    }

    .document__number {
      display: none;
      @include typography(var(--text-black), 500, 22px, 1, uppercase, -0.05em);
    }

    .document__size,
    .document__image {
      display: none;
    }

    &:hover {
      --text-black: var(--text-white);
      background-color: var(--bg-black);

      svg {
        color: var(--text-white);
      }

      .document__size {
        color: var(--text-white);
      }
    }
  }
}

.documents-list__item--active {
  --text-black: var(--text-white);
  background-color: var(--bg-black);

  svg {
    color: var(--text-white);
  }

  .document__size {
    color: var(--text-white);
  }
}

.documents-list__item--deactive {
  --text-black: var(--text-gray);
}

@include respond-min(1024px) {
  .documents-list {
    .documents-list__item {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1.3fr 1fr 1fr 0.3fr;
      grid-template-areas: 'number title img size icon';
      align-items: center;

      span {
        grid-area: title;
      }

      .document__number {
        display: flex;
        grid-area: number;
        justify-self: start;
        padding-left: 5px;
      }

      .document__image {
        grid-area: img;
        z-index: 999;
        display: block;
        position: absolute;
        justify-self: center;
        border: 1px solid var(--vector-light-gray);
        width: 192px;
        height: 248px;
        pointer-events: none;
      }

      .documents__icons {
        grid-area: icon;
        justify-self: end;
        padding-right: 5px;
        width: 20px;
      }

      .document__size {
        grid-area: size;
        display: block;
        font-family: var(--second-family);
        @include typography(var(--text-white), 500, 22px, 1.1, uppercase, -0.05em);
      }
    }
  }
}
