@use '../../shared/styles/functions' as *;
@use '../../shared/styles/mixins' as *;

.documents-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.documents__title-container {
  position: relative;
  margin-left: 10px;
}

.button-container {
  display: flex;
  margin-bottom: 30px;
  margin-top: 10px;
}
.documents-list {
  display: flex;
  flex-direction: column;
  .documents-list__item {
    display: flex;
    justify-content: space-between;
    padding-block: 8px;
    @include typography(var(--text-black), 500, 18px, 1.15);
    border-bottom: 1px solid var(--vector-deep-gray);

    &:first-child {
      border-top: 1px solid var(--vector-deep-gray);
    }

    svg {
      align-self: center;
    }
  }
}
