// AboutScroll.scss
@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

.hero-scroll-section {
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: var(--bg-black);
}

.hero-scroll-section .sticky-container {
  position: sticky;
  padding: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block {
  width: 100%;
  height: 50vh;
  background-color: var(--bg-black);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  flex-shrink: 0;
}

.top-block {
  align-items: flex-end;
}

.bottom-block {
  flex-direction: column;
  justify-content: flex-start;
  gap: 17px;
  &__desc {
    @include typography(var(--text-white), 500, fluid(18px, 28px), 1.15);
    text-align: center;
  }
}

.aboutUs__video-wrapperScroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs__video-in-container {
  width: 100%;
}

.aboutUs__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
